[2013-02-25 01:10] havenwood opened #2 "associative arrays are not supported by bash 3.2"
Associative arrays (declare -A) were added in version 4.0 of bash and are used in ruby-install.

Better to make bash 4.0+ a requirement of ruby-install or backbend around not having associative arrays in order to support bash 3.2?

[2013-04-01 05:48] #2 closed, assigned to nobody

[2013-04-01 05:52] postmodern opened #4 "Add getopt option parsing"
Need to parse the following options:
- `--src-dir DIR`
- `--install-dir DIR`
- `--patch FILE`
- `--skip-sync`
- `--skip-dependencies` (implies `--skip-sync`)
- `--skip-verify`

Any additional options (after the `--` separator) will be treated as `./configure` options.

[2013-04-01 05:55] postmodern opened #5 "Add md5 or sha1 checksums"
Add support for checksuming the downloaded Ruby archives. Checksums should be stored in an `checksums.txt` file. If there is no checksum for the archive, print a warning and continue. If the checksum does not match the archive, print and error and `return`.

[2013-04-01 06:00] postmodern opened #6 "Add a man-page for ruby-install"
Add a markdown man-page for `ruby-install` and use [md2man](https://github.com/sunaku/md2man#readme) to compile it into roff. See chruby [Makefile](https://github.com/postmodern/chruby/blob/0.4.0/Makefile) for an example.

[2013-04-01 06:43] postmodern opened #7 "Fallback to curl if wget isn't available"
Support downloading archives using `curl`, if `wget` isn't available.

[2013-04-01 22:39] #5 closed, assigned to nobody

[2013-04-02 06:05] #6 closed, assigned to havenwood

[2013-04-07 10:06] postmodern opened #9 "Add files to build mruby"
Add `functions.sh`, `dependencies.txt` and `md5.txt` for [mruby](https://github.com/mruby/mruby#readme). This may require us to change ruby-install to accommodate pulling down a git repo instead of downloading an archive.

[2013-04-07 10:07] postmodern opened #10 "Add files to install topaz ruby"
We should also try to support install [topaz](http://docs.topazruby.com/en/latest/) ruby.

[2013-04-07 10:08] postmodern opened #11 "Add files for installing maglev"
We should also try to support installing [maglev](http://maglev.github.io/).

[2013-05-19 06:57] #4 closed, assigned to nobody

[2013-05-19 07:08] #7 closed, assigned to nobody

[2013-05-28 14:21] mattgreen opened #13 "Handle Mountain Lion/Ruby 2.0/OpenSSL debacle"
Great work on ruby-install!

I used it to install Ruby 2.0, but lost some time dealing with Ruby 2.0's handling of OpenSSL. Ruby 2.0 refuses to use Mountain Lion's crippled version, and Homebrew does not symlink the updated version. Users installing Ruby 2.0 on OS X need to do the following:

[code]

What makes this confusing is that `configure` incorrectly reports that the option is unknown, but

[2013-05-28 19:27] #13 closed, assigned to nobody

[2013-05-28 19:28] postmodern opened #14 "Support specifying the md5 for new versions"
Support an `--md5` option, in case we don't have the md5 for a newer version.

[2013-05-28 21:01] postmodern opened #15 "Add pacman dependencies for rubinius"
Rubinius is missing the Arch package names for pacman. https://github.com/postmodern/ruby-install/blob/master/share/ruby-install/rubinius/dependencies.txt#L1

[2013-05-28 22:07] #15 closed, assigned to postmodern

[2013-05-29 15:46] lgw4 opened #17 "curl: (3) <url> malformed"
When I attempt to install (any) Ruby, this happens:

[code]

[2013-05-30 00:17] #17 closed, assigned to nobody

[2013-05-30 18:56] lgw4 opened #19 "Installing jruby stable fails on OS X 10.8.3 using ruby-install 0.1.2"
Installing jruby stable fails on OS X 10.8.3 using ruby-install 0.1.2:

[code]

Oh, yeah, it would be nice if the `src` directory was under the `.rubies` directory.

[2013-05-30 21:00] #19 closed, assigned to nobody

[2013-05-31 13:31] pbrisbin opened #22 "pacman -Sy is a Bad Idea"
https://github.com/postmodern/ruby-install/blob/master/share/ruby-install/ruby-install.sh#L97

It's well known[1] in the Arch world that `pacman -Sy foo` can break your system. Users are advised never to update the index without also updating the system.

`pacman -Sy; pacman -S foo` is just a variation on that. I suggest you leave the index un-updated and just install the dep by name at whatever v

[2013-05-31 21:32] #22 closed, assigned to nobody

[2013-06-02 15:55] #11 closed, assigned to havenwood

[2013-06-03 03:49] postmodern opened #27 "Support skipping the package manager entirely"
Add an option to allow skipping syncing the package manager or installing packages from it.

[2013-06-03 04:04] postmodern opened #28 "Support skipping download and use an existing archive"
Should be able to skip downloading the archive, and use an existing one.

[2013-06-03 04:04] postmodern opened #29 "Support downloading from an alternate URL"
Allow downloading from an alternate URL.

[2013-06-03 04:17] postmodern opened #30 "Add option to skip installation"
Add an option to only extract/configure/build the Ruby, but not install it.

[2013-06-03 11:05] rkh opened #31 "Support binary builds (like RVM does)"
That would be a killer feature.

[2013-06-04 13:25] stefanozanella opened #33 "`yum updateinfo` is not available in CentOS vanilla installations"
On a fresh CentOS 6.4 installation, the `updateinfo` subcommand ran in the _pre install_ stage is not available, but requires the installation of the `yum-security` (aka `yum-plugin-security`) package.
I don't know if this holds even in Fedora.

An option I see here is to allow for installation of the missing package before running it.
Another option is to document this thing and let the user sati

[2013-06-12 23:16] postmodern opened #38 "www.ruby-lang.org does not support byte-ranges, so resuming downloads do not work"
http://cl.ly/image/1K2s1F1w1r3E

[2013-06-13 20:53] #33 closed, assigned to nobody

[2013-06-14 02:12] #27 closed, assigned to nobody

[2013-06-14 02:13] #14 closed, assigned to postmodern

[2013-06-17 05:30] postmodern opened #42 "Allow installing precompiled binary packages"
Allow installing binary Rubies. JRuby and Rubinius both have binary packages. RVM provides precompiled versions of MRI. http://rvm.io/binaries/

[2013-06-17 05:49] #42 closed, assigned to postmodern

[2013-06-17 17:28] solnic opened #43 "yum-related error on centos 6"
[code]

[2013-06-17 19:20] #43 closed, assigned to nobody

[2013-06-17 20:51] havenwood opened #44 "Add option to remove 'ruby-' prefix"
Add an option to remove the 'ruby-' prefix from the Ruby name. For example, ruby-2.0.0-p195 would become 2.0.0-p195.

[2013-06-21 06:26] #29 closed, assigned to nobody

[2013-06-21 06:41] #30 closed, assigned to nobody

[2013-06-21 06:41] #28 closed, assigned to nobody

[2013-06-21 20:40] #44 closed, assigned to nobody

[2013-06-24 13:30] aidanhs opened #47 "ruby-install symlink in ~/bin"
Currently this doesn't work because it looks for ~/share (which I don't want to put there).

Solvable by replacing `$0` with `$(readlink -f $0)` in line 5 of ruby-install.

Can't see how it would break any (sane) existing use cases.

[2013-06-26 10:25] jeroenj opened #48 "Rubygems (gem) not installed for ruby 1.8.7"
After installing 1.8.7 on my OSX (10.8.4) machine it appears that rubygems is not installed.

It then uses the system gem command:

`gem env` returns the following:

[code]

I guess you don't need it, but I'm using chruby to manage my ruby versions.

[2013-06-30 00:07] #48 closed, assigned to postmodern

[2013-06-30 03:57] postmodern opened #50 "Warn users that ruby 1.8.x is EOLed?"
As suggested by @mpapis, should we print a warning message to users that ruby 1.8.x is no longer maintained? Since the default version for Ruby is 2.0.0, a user would have to explicitly specify they want 1.8.

[2013-06-30 18:24] judofyr opened #51 "`ruby-install rubinius 2.0.0-rc1` doesn't work with Ruby 2.0.0"
If you attempt to install rubinius 2.0.0-rc1 with Ruby 2.0.0 as active Ruby, you'll get a weird error:

[code]

Even though this is Rubinius-bug, it would be nice if ruby-install would warn that you need Ruby 1.9.3.

[2013-06-30 23:30] #51 closed, assigned to nobody

[2013-07-01 21:54] jrochkind opened #55 "permission denied from brew"
[code]

But per #54, trying to run sudo probably isn't the answer either. What's going on?

[2013-07-02 11:55] leemeichin opened #56 "Ruby installs directly into $INSTALL_DIR"
Setting a custom install dir with the `-i` flag installs the ruby files directly into that directory. eg.

[code]

The expected result, based on the README, is:

[code]

I _think_ the fix is something to do with this, and that `$RUBY-$RUBY_VERSION` should be specified outside of the `${...}` thing? I'm not entirely sure. :confused:

[code]

[2013-07-03 06:05] postmodern opened #57 "Add --rubies-dir option"
Add a `--rubies-dir` option, which controls the prefix of the install directory (ex: `--rubies-dir /opt/rubies/` or `--rubies-dir ~/.rubies/`).

[2013-07-03 06:05] #56 closed, assigned to nobody

[2013-07-06 23:55] zhando opened #58 "Problem with applying patches to a ruby"
Hi,

I worked up what I thought would be a cool labor saving tip to applying a bunch of patches to a ruby for this repo's wiki..

https://github.com/postmodern/ruby-install/wiki/Tip:-Apply-many-patches-to-MRI-source-one-liner

Only problem is, after applying a particular group of patches, configure blows up when creating the Makefile:

https://gist.github.com/zhando/5941699

This ruby, 1.9.3-p385

[2013-07-09 20:13] jrochkind opened #59 "install of 1.9.4-p448 failing in weird ways"
According to the docs, I can get the latest 1.9 mri with `ruby-install ruby 1.9`

But that results in this:

[code]

Huh?

[2013-07-15 13:03] rosstimson opened #60 "Rubinius tarball fails to download if already cached from previous install attempts"
I have tried to install Rubinius which failed due to some weird segfault (possibly my old hardware).  When I tried another install I got the following error:

[code]

In order to fix this I have to manually remove the Rubinius files from `/usr/local/src` and then start `sudo ruby-install rubinius` again.

[2013-08-12 03:18] postmodern opened #62 "ruby >= 2.0 requires systemtap headers"
ruby >= 2.0 supports [dynamic probes using systemtap](http://lukas.zapletalovi.com/2012/01/probing-ruby-apps-with-systemtap-in.html) on Linux. The systemtap headers should be added to the dependencies.

[2013-08-12 03:28] #62 closed, assigned to nobody

[2013-08-13 21:38] paul opened #63 "BSD `stat` and GNU `stat` take different options"
When installing any ruby, I get:

[code]

This is because BSD `stat` (default on Darwin) takes a `-f "%Su"` option, while GNU coreutils `stat` uses `-c "%u"`

[code]

Before I start, is there any interest in a PR to fix this? Here's a fix to the same issue in another project: https://github.com/rtomayko/shocco/pull/17

[2013-08-14 03:37] #55 closed, assigned to nobody

[2013-08-14 03:37] #38 closed, assigned to nobody

[2013-08-21 18:29] sorin-ionescu opened #66 "Do not hard code the path to brew"
Homebrew can be installed anywhere. Personally, I have it installed in ~/.homebrew; consequently, ruby-install fails since it's looking for brew in /usr/local/bin/brew.

[2013-08-21 19:17] #66 closed, assigned to nobody

[2013-08-27 02:48] joelnn opened #68 "parallel make of ruby"
It would be nice if ruby-install could do a parallel make of Ruby, according to the cpu core count. I haven't found an "official" statement as to whether Ruby's makefile really supports parallel make, though.

[2013-09-22 18:15] titanous opened #70 "Ruby 2.0 compile fails with "ld: can't open output file for writing""
Running ruby-install aaed1a45ba752c6096479f2850df0d1370093c0d on OS X 10.8.5 with Xcode 5.

[code]

[code]

[2013-09-24 23:01] #68 closed, assigned to nobody

[2013-09-25 12:49] myronmarston opened #73 "Can't install 1.8.7 on OS X 10.8.4"
Here's the output I'm getting:

https://gist.github.com/myronmarston/6699131

Any ideas how to fix this?

[2013-09-25 23:04] #73 closed, assigned to nobody

[2013-09-26 19:24] cpuguy83 opened #74 "Can't continue installation when file already exists"
When installing if the source files are already there ruby-install quits with:

curl: (33) HTTP server doesn't seem to support byte ranges. Cannot resume.
!!! Download of https://github.com/rubinius/rubinius/archive/release-2.0.0-rc1.tar.gz failed!

[2013-09-26 19:25] cpuguy83 opened #75 "rubinius fails to compile"
I am unable to compile rubinius through ruby-install.  Works fine outside of it.

Not sure if this is because of the build that is being downloaded or what

[2013-09-26 20:56] #74 closed, assigned to nobody

[2013-09-29 21:37] #75 closed, assigned to nobody

[2013-09-30 15:35] fesplugas opened #76 "Flag to disable docs generation."

[2013-09-30 18:50] #76 closed, assigned to nobody

[2013-10-05 00:45] mdesantis opened #78 "installing jruby-1.7.4 fails"
Environment:
- Ubuntu 13.10 Saucy Salamander x86_64
- rbenv 0.4.0-65-gff23666 (latest)
- ruby-install 463e15b (latest)

I installed ruby 2.1.0-preview1 without problems. Instead, attempting to install jruby-1.7.4 installation fails with the following error:

[code]

[2013-10-05 00:47] #78 closed, assigned to nobody

[2013-10-05 06:39] postmodern opened #79 "Support Rubinius >= 2.0.0"
Only support rubinius >= 2.0.0, dropping support for 2.0.0-rc1 and 1.2.4.
- Download from `http://releases.rubini.us/rubinius-X.Y.Z.tar.bz2`
- Install LLVM 3.1, 3.2 or 3.3
  - Rubinius'es `configure` defaults to 3.2, but will 3.1 work for older distros (ex: Ubuntu 12.04LTS)?
- Install Ruby >= 1.9.
  - [Ready, Set, ...](http://rubini.us/2013/09/22/ready-set/) recommends Ruby 2.0, but can we get awa

[2013-10-05 07:28] postmodern opened #80 "When to drop support for building Ruby 1.8"
How long should we continue supporting building Ruby 1.8?

[2013-10-05 09:44] mrrooijen opened #81 "Rubinius 2.0"
Now is a good time to fully support Rubinius.

http://rubini.us/2013/10/04/rubinius-2-0-released/

[2013-10-05 13:33] #81 closed, assigned to nobody

[2013-10-06 23:08] #70 closed, assigned to nobody

[2013-10-08 18:43] clakeb opened #82 "Space in directory being read as argument."
I'm trying to install ruby in a specific directory and the directory name has a space in it. So when I run the command.....

[code]

OR

[code]

I get this

[code]

It looks like after the space, the rest of the directory is being read as an argument.

[2013-10-09 22:41] #82 closed, assigned to nobody

[2013-10-12 05:03] postmodern opened #86 "Improve fetch() to strip '\t' whitespace"
Currently the [fetch](https://github.com/postmodern/ruby-install/blob/master/share/ruby-install/ruby-install.sh#L91-L98) function can only strip ` `whitespace. It needs to also strip`\t` characters.

[2013-10-14 16:01] epinault opened #87 "Rubinius 2.0.0 final is out."
I cannot install it with ruby-install.. it points to the RC1 :(

But http://rubini.us/2013/10/04/rubinius-2-0-released/?utm_source=rubyweekly&utm_medium=email

[2013-10-14 16:07] #87 closed, assigned to nobody

[2013-10-16 15:05] binaryphile opened #88 "Specify dl/extract dir"
Wish I knew bash well enough to figure out how to make a pull request.  My feature is this: I need to be able to specify a directory in which the ruby source gets downloaded and unpacked.  I'm making a docker image (like a vmdk) where the final image shouldn't include all of the intermediate cruft from building ruby.  I'm doing it by mounting a directory from outside the container and doing all in

[2013-10-16 15:14] #88 closed, assigned to nobody

[2013-10-20 20:53] jlecour opened #89 "how to use ruby-install as regular user?"
Hi,

I'm trying to use `chruby` and `ruby-install` as a regular, non-root, user, and I find it not straightforward.

If I install both as root, they go to `/usr/local/share` but owned by root, so unusable by a other users.

If I try to install the needed rubies as root and use them as non-root, I get permissions issues :

[code]

If I try to tune the permissions for either `ruby-install` and `chru

[2013-10-21 01:13] #89 closed, assigned to nobody

[2013-10-23 02:26] ghost opened #90 "ruby-install ruby 2 downloads non-existent tarball"
first off, i love this project and the work you're doing in general.
the combination of chruby & now ruby-install has replaced what once was rbenv+ruby-build, and prior to that, RVM.

it seems like ruby-install has found the perfect balance between the aspirations of RVM and the simplicity of rbenv. it's great, so thanks.

the bug is this:

[code]

tries to download a tarball doesn't exist(ruby-2)

[2013-10-24 04:42] #90 closed, assigned to nobody

[2013-10-24 14:28] dentarg opened #91 ""make install" fails as normal user"
[code]

[code]

Seems like the Makefile didn't use my `$PREFIX`? I can't understand why. The moment before I installed chruby, not using sudo, without any problems.

I'm using zsh and Ubuntu 13.10.

[2013-10-24 17:53] jamonholmgren opened #92 "Failing to build ruby 2.0.0-p247 on Mavericks"
Here's the full error trace:

https://gist.github.com/jamonholmgren/7141903

Error portion:

[code]

I was able to install 2.0.0 using the chruby setup.sh method, but then Rails kept throwing a ruby error, so I deleted it and am trying again using ruby-install and getting this error.

Ideas?

Jamon

[2013-10-24 22:57] #91 closed, assigned to nobody

[2013-10-24 22:59] #92 closed, assigned to nobody

[2013-10-28 03:48] yachi opened #93 "Compile using multicore: `make -j $cores`"
detecting number of cores reference:
in linux
https://github.com/mxcl/homebrew/blob/8eafc9de1989b12a1799bff12a21ea4bee3c5556/Library/Homebrew/os/linux/hardware.rb#L25

in mac
https://github.com/mxcl/homebrew/blob/8eafc9de1989b12a1799bff12a21ea4bee3c5556/Library/Homebrew/os/mac/hardware.rb#L72

[2013-11-19 10:06] #60 closed, assigned to nobody

[2013-11-22 22:38] #86 closed, assigned to nobody

[2013-12-03 13:54] ghost opened #98 "rubinius latest stable "2.1.0""
a list of available rubies defaults to an old rubinius(2.1.0) but i seem to be able install 2.1.1 with `$ ruby-install rubinius 2.1.1`. i'm not sure if that's a bug or i need to update my ruby-install.

`$ ruby-install`:

[code]

[2013-12-03 17:20] #98 closed, assigned to nobody

[2013-12-04 12:25] bkutil opened #99 "fetch() parsing breaks installation of dependencies."
When fetch parses the dependencies.txt, only the last package is returned.

The bash version is GNU bash, version 4.2.45(1)-release (opensuse 13.1), also tested on 4.2.37(1)-release (debian stable).

The following test fails for ruby-install 0.3.2:

[code]

[code]

The test passes if b5ee408af583d6565c18e2b89b95b928ae07aea4 is reverted.

[2013-12-04 20:44] #99 closed, assigned to nobody

[2013-12-06 09:43] Undistraction opened #101 "No available formula for ruby-install"
There is no formula available for ruby-install.

[code]

[2013-12-06 09:52] #101 closed, assigned to nobody

[2013-12-10 21:16] #80 closed, assigned to postmodern

[2013-12-11 00:20] gregkare opened #102 "Support installing rubies in the implementation-x.y.z form?"
Once in a while when I use ruby-install I forget that I shouldn't put a dash between the Ruby implementation and the version, the way it's done in `.ruby-version` files. It happens more when I'm reinstalling a version (in today's occurrence I've deleted my ruby-2.0.0-p353 because it was using an old GCC 4.2 to compile C extensions and recompiled it with clang), I tend to copy & paste from chruby's

[2013-12-17 03:42] trek opened #103 "Install of ruby 1.9.3-p125 fails"
Running on a clean Mavericks install (except for the first install attempt, which fails, but did install some c deps):

[code]

[2013-12-17 20:32] #103 closed, assigned to nobody

[2013-12-18 02:12] trek opened #105 "Install fails on previously downloaded ruby that fails to install"
This is on OS X Mavericks. Should the `~/src` directory clean up after itself?

[code]

Download remains in `~/src`

[code]

then

[code]

[2013-12-18 02:26] #105 closed, assigned to nobody

[2013-12-25 19:46] ghost opened #108 "alias of "2.1.0" to 2.1.0 preview release prevents install of 2.1.0"
it looks like MRI dropped the patch level for this release, so you can't even say '2.1.0-p0'.

to reproduce:

[code]

[2013-12-26 04:46] #108 closed, assigned to nobody

[2014-01-03 03:43] postmodern opened #111 "Add a --global option"
Add a `--global` or `--system-wide` option which is basically an alias for `-i /usr/local`.

[2014-01-03 03:49] #79 closed, assigned to postmodern

[2014-01-03 03:51] #63 closed, assigned to nobody

[2014-01-03 03:52] #59 closed, assigned to nobody

[2014-01-03 03:55] #57 closed, assigned to postmodern

[2014-01-03 03:56] #50 closed, assigned to postmodern

[2014-01-08 00:19] #93 closed, assigned to nobody

[2014-01-09 21:09] postmodern opened #113 "Check for java before printing the warning about installing OracleJDK"
No point in telling java users to install OracleJDK, when it's already installed.

[2014-01-09 21:15] #113 closed, assigned to postmodern

[2014-01-09 21:36] postmodern opened #114 "Support BSD's fetch for downloading files"
fetch is the BSD equivalent to wget.

[2014-01-09 21:43] Integralist opened #115 "Issue executing jRuby"
Hello,

We started a twitter conversation about this issue and thought it best to continue here for others to contribute to if possible.

To recap, I ran the following command `ruby-install -i ~/.rubies/ jruby 1.7` which resulted in the following output...

[code]

Note: I already have java installed so the message about downloading the OracleJDK I believe is redundant.

e.g. `java -version` retur

[2014-01-09 22:05] #115 closed, assigned to nobody

[2014-01-12 15:03] alisnic opened #116 "Store rubies sources in .rubies/src rather than in ~/src"
or rename `src` to `.src`?

There is no reason in the world it should be visible to the end user.

[2014-01-20 00:41] marcosdsanchez opened #118 "Cannot install ruby in freebsd 9.0"
After installing 0.3.4 like detailed in the README, I get the following error when trying to install the latest stable ruby.

[code]

I'm using Freebsd 9.0 and ruby-install 0.3.4

[code]

Please let me know if you need further information about my environment.

I found this issue when trying to use [php-install](http://github.com/marcosdsanchez/php-install) a php version of ruby-install in freebsd

[2014-01-20 19:35] trans opened #119 "Ruby w/ Tk"
I wrote this [script](https://github.com/trans/ruby-build-tk/blob/master/share/ruby-build/1.9.3-rc1%2Btk8.5) for ruby-build some time ago. It's not doing anyone any good sitting in my personal repos. Anyway to provided this functionality in ruby-install so it's an available option for others?

[2014-01-29 21:32] postmodern opened #120 "`--patch` does not work with jruby"
Since we use the jruby-bin tar balls, --patch does not work. We should figure out how to compile and install jruby.

[2014-02-04 00:00] postmodern opened #121 "Rename rubinius to rbx"
To achieve consistency, we should rename rubinius to rbx. This way all installed rubies will match a) their executable names b) their `RUBY_ENGINE` constant.

[2014-02-10 23:27] #121 closed, assigned to postmodern

[2014-02-10 23:29] #9 closed, assigned to havenwood

[2014-02-11 21:00] benmoss opened #124 "Fails if Homebrew dependencies are already installed"
Just trying out ruby-install along with chruby, and getting this:

[code]

[code]

[code]

[2014-02-11 23:09] #124 closed, assigned to nobody

[2014-02-14 00:08] grimnight opened #125 "Add support for mruby mrbgems"
Add support for mruby [mrbgems](https://github.com/mruby/mruby/blob/master/doc/mrbgems/README.md). A possible way to do so would be to use the output from `mgem config`[[1](http://blog.mruby.sh/201301040627.html)] to generate [build_config.rb](https://github.com/mruby/mruby/blob/master/doc/mrbgems/README.md#usage), although that requires installing [mgem](https://github.com/bovi/mgem).

[2014-02-20 20:35] juanitogan opened #126 "Trouble with openssl and RHEL 6.3"
Openssl does not appear to be compiling correctly when installing any version of Ruby on our RHEL 6.3 system.  I have been trying to leave user installs of RVM behind and replace them with root installs via ruby-install.  Openssl works fine in our RVM user installs (with the prescribed RVM fix) as well as in the built-in system install of Ruby 1.8.7 in /usr/bin.

Openssl is broken in each Ruby ver

[2014-02-21 03:21] #119 closed, assigned to nobody

[2014-02-21 03:39] xiaods opened #127 "can't install 2.1.0 ruby by ruby-install"
[code]

[2014-02-21 04:31] #127 closed, assigned to nobody

[2014-02-24 18:00] epinault opened #128 "proxy support"
On OSX Maverick (10.9.1), using bash shell  3.2.51(1), and ruby-install 0.4.0

I love ruby-install but does not seem to work with proxy.

I have my http_proxy and https_proxy correctly and can do a curl manually and get the files.. but does not seem to work when running  "ruby-install ruby 2.1.1"

I get bunch of timeout. So I suspect those ENV variable are not passed/defined in the shell executed

[2014-03-06 04:21] brixen opened #130 "Test for 'gem env gemdir' fails until a gem is installed"
When installing Rubinius on a system that has no pre-installed Ruby, using a version of MRI installed with ruby-install, the following test fails, ultimately leading to the Rubinius install failing:

https://github.com/postmodern/ruby-install/blob/master/share/ruby-install/rbx/functions.sh#L15

Apparently, the directory is not created by rubygems until a gem is installed. The existing conditional

[2014-03-08 01:09] #126 closed, assigned to nobody

[2014-03-14 11:12] moroshko opened #132 ""ruby-install ruby" fails: E: Couldn't find package build-essential"
http://stackoverflow.com/q/22403376/247243

What am I doing wrong?

[2014-03-15 11:44] #132 closed, assigned to nobody

[2014-03-21 06:24] postmodern opened #134 "Expand the -i option to an absolute path"
`./configure --prefix` expects an absolute path.

[2014-03-23 17:07] jeanmichelcote opened #135 "Uninstalling a ruby version"
Well well, it may sound like a simpleton's question but how do i uninstall a ruby version that have been installed with ruby-install?

I'm using a ubuntu server on a VM and i just _rm -rf_ the ruby dir inside  _/home/vagrant/.rubies_ that i wanted to uninstalled. But when i _chruby_, it still appears as available and if i _chruby_ it, it says:
_chruby: /home/vagrant/.rubies/ruby-2.1.1/bin/ruby not

[2014-04-01 10:32] ku1ik opened #136 "Installation of MRI 2.0/2.1 fails on Ubuntu 14.04"
I have upgraded to Ubuntu 14.04 and my MRI 2.1.0 started leaking memory (eating 16gb of ram in 1 minute, swapping etc). Looks like some libs changed and you need to recompile.

Anyway, I removed old 2.1.0 directory and started the installation again. This is the error I'm getting: https://gist.github.com/sickill/9911522

It looks sth is wrong re readline, and it also looks similar to this issue in

[2014-04-01 18:01] trans opened #137 "Rails bundle install failure"
I'm not 100% clear where the problem actually lies just yet, but one thing I did notice when using `bundle install` on a fresh Rails projects was that my systems ruby was being used to compile extensions instead of the chruby version.

[code]

[code]

[code]

How do I correct this?

[2014-04-01 20:01] #116 closed, assigned to nobody

[2014-04-02 01:38] #137 closed, assigned to nobody

[2014-04-09 23:45] #135 closed, assigned to nobody

[2014-04-10 00:28] jish opened #140 "Re-compile against new openssl for Heartbleed"
I've heard some say that your local copy of Ruby is fine, others say it needs to be re-compiled. Just to be on the safe side, if I wanted to re-compile Ruby locally, what would I have to do to ensure that I re-compile with the newest version of OpenSSL on Mac OS?

[code]

Is that sufficient / correct?

[2014-04-10 00:45] #140 closed, assigned to nobody

[2014-04-10 23:04] #130 closed, assigned to nobody

[2014-04-10 23:15] #134 closed, assigned to nobody

[2014-04-11 04:30] #58 closed, assigned to nobody

[2014-04-16 02:42] postmodern opened #141 "Add a --system flag for installing into /usr/local"
Add a `--system` flag as an alias for `--install-dir /usr/local`.

[2014-04-16 17:43] mwean opened #142 "README clarification"
Maybe I'm missing something, but the README says "Does not require updating every time a new Ruby version comes out." in the Anti-features section, but it seems like the only way to install the latest version of Rubinius is to update ruby-install or install from a specific URL. I think that should be clarified so people aren't confused why the known ruby list isn't up to date.

[2014-04-16 20:32] #142 closed, assigned to nobody

[2014-04-17 01:25] #141 closed, assigned to postmodern

[2014-04-17 12:28] jmazzi opened #143 "LoadError on 'dl/import' and 'fiddle'"
I am unable to use `fiddle` or `dl/import` with versions of ruby installed by `ruby-install`. There are a few gems which I depend on that need these to work.

chruby:

[code]

rbenv:

[code]

[2014-04-18 07:40] pearofducks opened #144 "Readline 6.3 and Ruby on OSX"
Details here: https://github.com/sstephenson/ruby-build/issues/550

Ruby fails when building against Readline 6.3 in OSX.

The following will build fine:

[code]

Maybe add a caveat to the homebrew formula of ruby-install?

[2014-04-19 12:59] #143 closed, assigned to nobody

[2014-04-19 15:00] #144 closed, assigned to nobody

[2014-04-28 21:17] randomor opened #145 "Can't install gems after install"
I installed ruby 2.1.1 from a patch in #136 . But am now not able to install gems due to some issue with OpenSSL.

[code]

Switched back to system ruby and it works.

[2014-04-28 21:59] #145 closed, assigned to nobody

[2014-05-03 04:50] brandonpittman opened #146 ""No available formula for brew:""
❯ ruby-install ruby 2.0
grep: brackets ([ ]) not balanced
Installing ruby 2.0:    2.0.0-p451 into /Users/brandonpittman/.rubies/ruby-2.0:    2.0.0-p451 ...
Installing dependencies for ruby 2.0:    2.0.0-p451 ...
Error: No available formula for brew:
Searching taps...
Error: No available formula for brew:
!!! Installing dependencies failed!

Doesn't make sense why Homebrew is looking for formulas o

[2014-05-09 06:48] #136 closed, assigned to nobody

[2014-05-13 10:07] clemens opened #148 "Problem installing MRI 2.1.2 on OS X Mavericks"
Hey guys,

I'm having trouble installing MRI 2.1.2 on OS X Mavericks. Previously, I ran into the same issue that lots of people have reported for the readline dependency – but this has been resolved. Now it seems to fail at the very last stage of the installation: Right when it tries to generate the documentation. I've googled but couldn't come up with a solution.

Here's the output of the part wh

[2014-05-13 10:17] #148 closed, assigned to nobody

[2014-05-17 00:24] tpitale opened #150 "Compiling ruby 2.1.2 failed on Ubuntu 12.04"
[code]

Using ruby-install 0.4.3.

Not sure what caused it to be "killed". I did not ctrl-c it, or anything like that. All of the compilation appears to be done by the time it gets to parsing the rdoc.

[2014-05-17 01:02] #150 closed, assigned to nobody

[2014-06-03 18:04] neoice opened #152 "attempting to build for packaging with `fpm`"
I'm attempting to use Jenkins to build a Ruby package for my fleet. Jenkins runs a script very similar to this:

[code]

the executable that get created (`gem`, `irb`, etc) have their interpreter set to this:

[code]

I tried adding a `--prefix` configure option but that seems to make things worse:

[code]

I understand that what I'm trying to do is fairly outside the box. I had similar problems w

[2014-07-06 10:18] skull-squadron opened #153 "[contrib] ruby-install FreeBSD port files"
https://github.com/steakknife/ruby-install-freebsd

^- Cleanly installs and deinstalls, including docs and compressing the man page.

[2014-07-07 21:28] #153 closed, assigned to nobody

[2014-07-17 16:40] nathanl opened #154 "Segfaults after installing 2.1.2"
I installed ruby-2.1.2 with ruby-install and had some segfault issues. Deleting and reinstalling didn't help. Eventually I compiled the source myself and solved the problem.

It seems possible that ruby-install created the problem, but I don't know how to determine that. Should I try to track this down? If so, any suggestions?

(Feel free to say "probably some weird issue of your own" and close th

[2014-08-08 07:10] wilmoore opened #156 "Somehow support XDG"
My initial thinking is that if `$XDG_DATA_HOME` is set rubies would be installed into  `$XDG_DATA_HOME/rubies` and if not set, they would be installed to  `~/.local/share/rubies`.

It would also be great if instead of `~/src/*` sources were put into `$XDG_CACHE_HOME/ruby/*` if that variable is set or if not set `~/.cache/ruby/*`.

In other words, try to avoid unnecessarily adding to the clutter of

[2014-08-29 14:31] paddor opened #159 "SIGSEGV during Rubinius installation"
I tried installing Rubinius with `ruby-install rbx`. I'm using the latest version of ruby-install.

See crash report https://gist.github.com/e0ed7f8e1726a8f5a9b9

[2014-08-29 17:51] #159 closed, assigned to nobody

[2014-08-30 03:58] luislavena opened #160 "RubyGems not installed for Ruby 1.8"
Hello,

Thank you for your project, it has made a snap for me to produce automated builds of Ruby for my development systems.

However, I found something odd.

According to the docs:

https://github.com/postmodern/ruby-install/blob/master/ChangeLog.md#ruby-6

RubyGems should be installed for Ruby 1.8.x, but it doesn't happen.

Has this feature been removed and somehow not documented as removals in

[2014-08-30 04:00] #160 closed, assigned to nobody

[2014-09-12 21:59] jeremiahsnapp opened #161 "Recommending ruby-install cookbook get mentioned in README"
Hi, this issue is very similar to this one that I just opened. https://github.com/postmodern/chruby/issues/287

In this case @rosstimson's [rosstimson/chef-ruby_install](https://github.com/rosstimson/chef-ruby_install#readme) that you mention in the Chef line in the [ruby-install/README#integration](https://github.com/postmodern/ruby-install#integration) not only has the same issue with feeling bl

[2014-09-19 15:39] jamonholmgren opened #166 "Ruby 2.1.3 - getting `configure: error: something wrong with CFLAGS="-g -O2 "`"
Ruby 2.1.2 installed fine a while back. Now 2.1.3 is failing.

[code]

[2014-09-19 16:24] #166 closed, assigned to nobody

[2014-09-30 17:54] #161 closed, assigned to nobody

[2014-10-02 04:13] postmodern opened #167 "Drop support for maglev"
[maglev is unofficially End-of-Lifed](https://groups.google.com/forum/m/#!topic/maglev-discussion/CADHEkDx-gA)

[2014-10-02 04:16] postmodern opened #168 "Should we drop support for mruby?"
[mruby](https://github.com/mruby/mruby#readme) is not really designed to be installed globally on the system, but configured and compiled into projects.

[2014-10-02 09:45] JeanMertz opened #169 ""Does not require updating every time a new Ruby version comes out.""
I've been using `ruby-install` for a while now. But I've never really noticed this "anti-feature" to be the case for ruby-install (meaning: I DO need to update ruby-install to see the latest ruby versions in the list).

Is there something I am not configuring correctly?

**update** using `ruby-install ruby x.y.z` does work without updating. I guess I was just thrown off by using `list` each time b

[2014-10-06 15:39] rga5321 opened #170 "Disable auto install of dependencies"
First of all, thank you for developing ruby-install and making it available to all of us.

I think I have found a bug. I am trying to install ruby 1.9.3. using ruby install in ubuntu server. The thing is I have "sudo" disable for the operations user, as we use root when we need it. That makes difficult to install ruby:

As I can't use sudo with myuser, the installation fails. I think ruby-install

[2014-10-06 19:55] #169 closed, assigned to nobody

[2014-10-07 17:49] schneems opened #171 "Pre-release Ruby Version install?"
Spent a few minutes looking and couldn't find docs on installing pre-release versions of Ruby, such as Ruby 2.2. Are there any best practices? We definitely want people trying them out and reporting bugs before it is officially released.

[2014-10-07 18:16] #171 closed, assigned to nobody

[2014-10-07 18:20] #170 closed, assigned to nobody

[2014-10-16 19:24] Peeja opened #174 "Can't install ruby 2.1.1: "…/bin/ruby: No such file or directory""
I can't get `ruby-install ruby 2.1.1` to run all the way through. It appears to choke on building some gem extensions because it can't find the very Ruby it's trying to install.

[code]

This looks like the same problem as #148, but I don't have any preview releases installed:

[code]

I don't really understand what the cause of #148 was, so I'm not sure how to approach fixing this. Any thoughts?

[2014-10-16 22:07] #174 closed, assigned to nobody

[2014-10-18 22:17] #154 closed, assigned to nobody

[2014-10-18 22:19] #118 closed, assigned to nobody

[2014-10-18 22:24] postmodern opened #175 "Add --update option"
Add an `--update` option to download new versions and checksums from [ruby-versions](https://github.com/postmodern/ruby-versions). These should be downloaded to either `~/.cache/` or `/var/cache`. The ruby-install code should determine which directory to use for the checksums/versions based on their timestamps.

[2014-10-18 22:26] #10 closed, assigned to havenwood

[2014-10-18 22:36] #111 closed, assigned to postmodern

[2014-10-19 00:22] postmodern opened #176 "Add a --prefix alias for --install-dir"
Add a `--prefix` alias for `--install-dir`. Try to make options more 1:1 with `./configure`.

[2014-10-19 00:22] #176 closed, assigned to postmodern

[2014-10-24 03:20] lgw4 opened #177 "Environment variable for source directory location"
Would it be possible to have an environment variable to set the source directory (analogous to the RUBIES environment variable in chruby)?

[2014-10-25 00:49] postmodern opened #179 "Switch to using https://s3.amazonaws.com/releases.rubini.us for rbx?"
Now that jruby [encourages](https://twitter.com/jruby/status/525726366533443584) using https://s3.amazonaws.com/jruby.org, should we also switch to using https://s3.amazonaws.com/releases.rubini.us as well? /cc @brixen

[2014-10-29 01:47] timuckun opened #181 "Fails with yosemite unless CC=clang"
I found that hint elsewhere but I could not build ruby without setting that on yosemite

[2014-10-29 14:42] #152 closed, assigned to nobody

[2014-10-31 09:51] lloeki opened #182 "Quick note on 1.8.7-p374 and Tk on OS X"
Installs just fine on Yosemite with:

[code]

Otherwise it complains about Tk headers (IIRC, it was the same in Mavericks). Alternative is to install XQuartz or something, but hey, this one is quicker.

I don't know if it's worthwhile to add a note about it in the README since it's totally unsupported upstream, but sadly some people still have a few projects incompatible with 1.9+.

[2014-11-04 23:39] swrobel opened #184 "rbx 2.3 fails to build on Yosemite due to llvm config error"
As originally reported by @willcosgrove on https://github.com/postmodern/ruby-install/issues/181

`~/src/rubinius-2.3.0/configure.log`:

[code]

[2014-11-10 03:12] wolfyuzumaki opened #186 "404 error?"
Hi all,

I was trying to do a ruby-install ruby stable command on my terminal and I got this

Can somebody look into this? I e-mailed a tutor from tuts+ who confirmed it's not just me who was getting this error.

Thanks,

Andy

[2014-11-12 16:55] #186 closed, assigned to nobody

[2014-11-18 15:24] bweston92 opened #190 "ruby-install failed."
I get to `ruby-install ruby 2.1.3` and I get this:

[code]

Any ideas?

[2014-11-27 05:44] thapakazi opened #192 "Can dependencies check for ruby installation be skipped."
Like what if **ruby-install** has some option to skip dependencies check, so that non-sudo users could blithely install rubies they want without privilleges | any hassels.

Eg: _considering all the [dependencies](https://github.com/postmodern/ruby-install/blob/master/share/ruby-install/ruby/dependencies.txt) are pre-installed by admin_
Installing rubies with ease:
`ruby-install 2.1.4 --skip-dep-ch

[2014-11-27 05:53] #192 closed, assigned to nobody

[2014-12-01 19:07] michaelrkn opened #193 "2.1.3 treated as latest ruby"
[code]

Shouldn't it default to the latest version 2.1.4?

[2014-12-01 23:25] #193 closed, assigned to nobody

[2014-12-11 02:02] collegeimprovements opened #194 "Unable to require openssl.... We are unable to install any gems."
Hi we ran ruby-install ruby command and it installed ruby 2.1.3 perfectly.
But we are unable to progress further due to openssl error.
Please guide us.

[code]

[2014-12-12 20:58] postmodern opened #195 "Add a bug_report.sh script"
Add a `bug_report.sh` script for gathering system information for bug reports. Should collect OS version, which package manager and versions of dependencies.

[2015-01-01 03:41] taf2 commented on #184
brew install llvm
rvm install rbx -- --llvm-config /usr/local/opt/llvm/bin/llvm-config

[2015-01-12 02:53] josh-nz opened #198 "Not listing latest rubies"
I have ruby-install 0.5.0 via homebrew. I've updated brew and updated ruby-install via brew just now. It reports I have the latest version.

Running ruby-install reports the latest ruby version to be 2.1.3, which appears to be quite out of date. https://www.ruby-lang.org/en/ reports 2.1.4 being released as far back as 27 Oct 2014, so 2.1.3 must be older still.

Why is ruby-install not reporting 2.

[2015-01-12 18:49] havenwood commented on #198
To get the latest definitions run:
[code]
There are plans (#175) to add an `--update` option that syncs to the latest versions and checksums from the [ruby-versions] repository to keep up to date with Rubies being released.
[ruby-versions]: https://github.com/postmodern/ruby-versions

[2015-01-12 18:49] #198 closed

[2015-01-12 20:53] josh-nz commented on #198
Ok. The readme seems misleading then. I interpreted this:

Does not require updating every time a new Ruby version comes out.

As meaning I didn't need to update ruby-install. To what does the above feature refer to then?

[2015-01-12 21:00] aprescott commented on #198
It means you can run `ruby-install ruby 2.2.0` and it'll install 2.2.0 even if `ruby-install` doesn't have it in its list of known versions.

[2015-01-12 21:25] josh-nz commented on #198
RIght, that was my conclusion from havenwood's post above. I also did install ruby 2.2.0 yesterday even though it wasn't in the list of known versions, but it warned about the checksum not being known, obviously. I guess in this case I could have provided the --md5 option. Strange there is no --sha option? Is md5 ok in this situation to avoid collisions?

[2015-01-12 21:34] havenwood commented on #198
In addition to `--md5` there're options for `--sha1`, `--sha256` and `--sha512`. For unknown Rubies you can specify one or more checksums to be validated. All four are validated when the version is known.

[2015-01-12 21:42] josh-nz commented on #198
Doh, should have `ruby-install --help` first! Could I have an attempt at updating the readme to be a touch more verbose around new rubies and submit a pull request?

[2015-01-12 23:44] havenwood commented on #198
Pull requests are welcome. Check out the [contributing guidelines](../blob/master/CONTRIBUTING.md#contributing).

It might be worth waiting for the `--update` option to polish the readme for clarity, I don't know.

[2015-01-13 06:55] josh-nz commented on #175
I'm not super up-with-the-play on *nix conventions, but could you not just update the files that hold the initial checksums? If you were then to subsequently update ruby-install you'd still have the latest checksums. The reason I mention this is that personally I find a lot of programs create dot directories and sometimes you don't know what program they belong to. For example I have `~/.local` an

[2015-01-13 21:37] coalwater commented on #194
So I installed a fresh debian system today, and I got this exact issue again, openssl installed, but not used when ruby is compiled, found out the issue was the missing `libssl-dev` library, I needed to install it and recompile agian then every thing worked fine.

[2015-01-13 22:40] postmodern commented on #194
@coalwater that is odd, since `libssl-dev` is listed in [ruby/dependencies.txt](https://github.com/postmodern/ruby-install/blob/5ea868bec37bd1d70ca84623d0f94dafd9ceed14/share/ruby-install/ruby/dependencies.txt#L1).

[2015-01-14 05:17] coalwater commented on #194
what is supposed to happen when a dependency isn't met? cause I tested now what i have and what I don't have, found multiple missing libs, I tried to reinstall `ruby-install` and it reinstalled fine without complaining about missing deps

    dpkg-query: package 'libgdbm-dev' is not installed and no information is available
    dpkg-query: package 'libreadline-dev' is not installed and no informat

[2015-01-14 05:19] coalwater commented on #194
Ok nvm I know what's wrong, I always install with `--no-install-deps` because I don't use `sudo` with ruby-install, cause if i do, ruby installs in a system directory

[2015-01-14 06:33] postmodern commented on #194
@coalwater ruby-install is smart enough to invoke sudo for you, if it's not running as root. https://github.com/postmodern/ruby-install/blob/5ea868bec37bd1d70ca84623d0f94dafd9ceed14/share/ruby-install/ruby-install.sh#L32-L37 https://github.com/postmodern/ruby-install/blob/5ea868bec37bd1d70ca84623d0f94dafd9ceed14/share/ruby-install/ruby-install.sh#L104

Maybe it's also an issue with your user's acc

[2015-01-14 07:14] coalwater commented on #194
yea well debian by default doesn't have `sudo`, so i guess I made a habit of installing `build-essential` and `ruby-install` while being as root, then switching to the user and running with `--no-install-deps` to avoid the errors, didn't realize it would be this bad.
Could we like make an option, something that would only install the dependencies without any rubies, I'm not so good with bash scrip

[2015-01-22 09:44] lloeki opened #199 "RUBYGEMS_GEMDEPS and rbx"
Having `RUBYGEMS_GEMDEPS` set to `-` makes `ruby-install rbx` totally blow up. It might be worth forcefully unsetting it.

[2015-01-27 12:17] mikeni opened #201 "does installation require user to be sudoer?"
In the documentation in README, it says

wget -O ruby-install-0.5.0.tar.gz https://github.com/postmodern/ruby-install/archive/v0.5.0.tar.gz
tar -xzvf ruby-install-0.5.0.tar.gz
cd ruby-install-0.5.0/
sudo make install

if my user is not allowed to sudo, is there anyway to install?
without sudo I get errors such as
or dir in `find bin share -type d`; do mkdir -p /usr/local/$dir; done
for file in `fi

[2015-01-27 20:40] postmodern commented on #201
You can run `PREFIX=~/somewhere make install` and add `export PATH=$PATH:~/somewhere/bin` to your `.bashrc`/`.zshrc`.

[2015-01-27 20:40] #201 closed

[2015-01-28 01:59] mikeni commented on #201
Thank you for the response.

[2015-01-28 02:00] postmodern commented on #201
Also by default ruby-install will try to install packages from the package manager, which requires permission. You may also want to skip that step with `--no-install-deps`.

[2015-01-28 02:36] mikeni commented on #201
works like a charm, thanks again.

[2015-01-28 03:02] mikeni commented on #201
question, i have installed the ruby however do I need to do the same with chruby?  chruby is not finding the rubies I have just installed into /home/mike/.rubies/ruby-2.2.0

[2015-02-10 22:14] timuckun opened #204 "doesn't keep up to date with jruby"
seems to be a couple of versions behind and does not include any pre-release versions like 9.0.0

[2015-02-10 23:38] postmodern commented on #204
You can install arbitrary versions via `ruby-install jruby X.Y.Z`. Also feel free to add newer versions to the [ruby-versions](https://github.com/postmodern/ruby-versions) repo. I will eventually add an `--update` option to automate this.

[2015-02-10 23:41] timuckun commented on #204
I wasn't aware of the ruby-versions repo.

Thanks.

[2015-02-11 01:40] #204 closed

[2015-02-25 13:43] JuanitoFatas opened #205 "Install by sha1, sha256, or sha512"
Hi @postmodern,

Since https://github.com/ruby/www.ruby-lang.org/pull/968 now replace md5 with sha256, do you have plans on adding shaN as an install option?

[code]

Thanks for ruby-install!!!!!!

[2015-02-25 17:14] havenwood commented on #205
There are actually already [options](https://github.com/postmodern/ruby-install/blob/59c02fbd12c92395ddea2397ed4545b758eef243/doc/man/ruby-install.1.md#options) for `--sha1`, `--sha256` and `--sha512` in addition to `--md5`. You can provide more than one of those flags to check more than one. For known versions ruby-install will try checking all four hash functions, see [checksums.sh](https://gith

[2015-02-25 17:14] #205 closed

[2015-02-26 04:39] 13k commented on #175
@josh-nz I believe using `~/.cache` is the right approach on Linux, since it conforms to the freedesktop's [XDG Base Directory Specification](http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html). Even better would be to use `$XDG_CACHE_HOME` (with a fallback).

On OS X, usually apps write files to `~/Library/Caches`. Per Apple's [developer manual page describing the file system]

[2015-02-28 10:00] loytor commented on #55
THX，

[2015-03-01 11:48] famousky commented on #194
Similar error here, but in my case I installed successfully selected version of ruby using standard $ ruby-install ruby VERSION " . But now when I try to run *gem install rails*, I am getting same error:

ERROR:  While executing gem ... (Gem::Exception)
    Unable to require openssl, install OpenSSL and rebuild ruby (preferred) or use non-HTTPS sources

[2015-03-01 12:48] coalwater commented on #194
What exactly did you run to install ruby? also does

    sudo apt-get install build-essential zlib1g-dev libyaml-dev libssl-dev libgdbm-dev libreadline-dev libncurses5-dev libffi-dev
install any thing for you ?

[2015-03-01 12:53] famousky commented on #194
@coalwater I don't use apt-get or Homebrew as alternative.

Same as @collegeimprovements I am on OS X Yosemite 10.10

In this case can I just simply run **sudo install build-essential zlib1g-dev libyaml-dev libssl-dev libgdbm-dev libreadline-dev libncurses5-dev libffi-dev** ?

[2015-03-01 12:55] coalwater commented on #194
Well like mentioned in a previous comment, the dependencies are listed in [ruby/dependencies.txt][dependencies-link]

[dependencies-link]: https://github.com/postmodern/ruby-install/blob/5ea868bec37bd1d70ca84623d0f94dafd9ceed14/share/ruby-install/ruby/dependencies.txt#L4

[2015-03-01 13:00] famousky commented on #194
@coalwater does it mean it should automatically fetch them all? Or I should manually install each of them? Not sure what my next step is.

[2015-03-01 14:19] famousky commented on #194
@coalwater just saw you corrected your reply. I see I have already one **openssl** file in **/usr/bin/**
Looks like my system don't see it?

[2015-03-02 06:23] famousky commented on #194
@postmodern & @coalwater trying to investigate and fix it without any luck. Btw, how does the Ruby's OpenSSL works? Is it tied somehow to **/Library/Ruby/Gems/2.0.0/gems/rubygems-update-2.4.6/lib/rubygems/ssl_certs** I have this dir for system Ruby. Was thinking to updating it but I don't want to really mess with system Ruby.

[2015-03-02 06:51] famousky commented on #194
Well, for now reinstalled all, installed homebrew and did all installations again, however not a big fan have one more thing in my system, but it did the job and now I can continue my work. Still would like to know why ruby did not see openssl..

[2015-03-02 07:35] famousky opened #206 "Installation without Homebrew: how to uninstall ruby-install"
Question as in header: how can I completely remove ruby-install?

[2015-03-02 14:12] havenwood commented on #206
If you installed ruby-install with `sudo make install` then uninstall it with `sudo make uninstall`.

If you installed it with `brew install ruby-install` then `brew uninstall ruby-install && brew cleanup ruby-install`.

[2015-03-02 14:12] #206 closed

[2015-03-02 14:20] havenwood commented on #194
@famousky The OS X system OpenSSL is not an option. MRI requires an OpenSSL version >= 1.0.1. Apple has also deprecated OpenSSL as of Lion 10.7 in favor of Common Crypto.

[2015-03-07 07:57] todd-a-jacobs opened #207 "Recommended improvement to the checksum verification output for clarity and simplified UX."
When passing a hash for validation as follows:

the UI confuses the user by saying what checksums were _not_ validated, and doesn't give any explicit response to the validation. For example, the above yields:

[code]

Presumably the checksum was verified, but the output doesn't really say so. It's also extremely confusing that it says _nothing_ about the SHA-512 hash at all; it doesn't acknowledge

[2015-03-09 10:05] hickscorp commented on #184
With @taf2 suggestion:

[code]

I like this solution, because it avoids linking the brew version of LLVM into my system.
However, i'm now very puzzled by the following error message after i ran bundle to install my gems and started my Rails (4.2) application:

[code]

Any similar experience with a clean workaround please?

[2015-03-18 11:17] JonathanPorta opened #209 "Ruby build fails on OS X due to whitespace in HDD name"
It appears that my Ruby build is failing because my other HDD name contains a space. I am not sure if this is an issue with the Ruby build scripts or if it is an issue with ruby-install. I thought I would start the adventure by opening this issue here.

[code]

I have tried to specify an install dir ```ruby-install --install-dir ~/.rubies/2.2.1  ruby``` and got the same error. The interesting thin

[2015-03-18 22:00] postmodern commented on #209
This is a known issue with MRI. I'm guessing you're `$HOME` or the `src` directory is still on the old HDD?

[2015-03-18 22:19] postmodern commented on #209
Aforementioned upstream bug: https://bugs.ruby-lang.org/issues/9010

Confirmed that I can reproduce this with:

    $ HOME="$PWD/fake home" ruby-install ruby 2.2.1
    linking ruby
    gcc: error: home/.rubies/ruby-2.2.1/lib: No such file or directory
    gcc: error: home/.rubies/ruby-2.2.1/lib: No such file or directory
    make[2]: *** [ruby] Error 1
    make[2]: Leaving directory `/home/hal/fak

[2015-03-19 03:30] JonathanPorta commented on #209
@postmodern Neither my $HOME nor the target src directory is on the old hdd. I honestly have no idea why it wanted to look at that drive.

I worked around the issue by renaming both HDDs so that they didn't contain a space.

[2015-04-16 04:46] CodeGnome commented on #181
@timuckun Are you still having issues with this? I have made changes to RBX upstream that should have resolved this. Please advise whether you're still having issues, or whether this ticket can be closed. Thanks!

[2015-04-17 23:21] nengxu opened #214 "Please update to latest Ruby versions: 2.2.2, 2.1.6, 2.0.0-p645"
Thanks.

[2015-04-18 00:17] postmodern commented on #214
Really need to implement the updater functionality. See #175. Hopefully I'll have some time soon to work on this feature.

[2015-04-18 00:17] #214 closed

[2015-04-20 13:33] dakull opened #215 "Ruby 2.2.2 support any time soon?"

[2015-04-20 14:11] aprescott commented on #215
Might want to check out #214, #212 and the [ruby-versions](https://github.com/postmodern/ruby-versions).

[2015-04-20 14:43] dakull commented on #215
@aprescott thanks

[2015-04-20 19:06] postmodern commented on #175
OK, here is what I'm thinking currently. ruby-install should re-download the version/checksum files into `~/.cache/ruby-install` on every run (except for `--help` or `--version`). To prevent constantly re-downloading the same files, we should only re-download the file if it's older than one day. If `ruby-install` is invoked to list current stable versions, all `stable.txt` files should be re-downl

[2015-04-23 06:01] JuanitoFatas commented on #215
@dakull Did you accidentally reopened this issue?

[2015-04-23 06:57] dakull commented on #215
seems so

[2015-04-23 06:57] #215 closed

[2015-05-01 21:34] nengxu commented on #175
@postmodern Today I'm still not able to ruby-install ruby-2.2.2, using the head of master branch.

The --update option is not there:

[neng@dolphin:~]$ ruby-install --update
ruby-install: unrecognized option --update

Please tell me how to do to get 2.2.2 ruby-installed? Thanks.

[2015-05-01 22:44] aprescott commented on #175
@nengxu does `ruby-install ruby 2.2.2` not work for you?

[2015-05-01 23:11] nengxu commented on #175
@aprescott Yeah, I forgot to try this. I'm running out of time to go through the whole process. But notice this:

[neng@dolphin:~]$ ruby-install ruby 2.2.2

*** No md5 checksum for /home/neng/src/ruby-2.2.2.tar.bz2
*** No sha1 checksum for /home/neng/src/ruby-2.2.2.tar.bz2
*** No sha256 checksum for /home/neng/src/ruby-2.2.2.tar.bz2
*** No sha512 checksum for /home/neng/src/ruby-2.2.2.tar.bz2

[2015-05-01 23:14] aprescott commented on #175
Right, because the checksums for 2.2.2 aren't available. You can't get them automatically until `--update` exists. But that won't stop you from installing 2.2.2.

If you know the checksum (from a trusted source) and want to manually specify it as part of the installation process, you can include it as an option to `ruby-install`. From `ruby-install --help`:

[code]

[2015-05-03 22:27] globalkeith opened #218 "Recommended improvement to the ruby-install command line interface"
I'm new to ruby-install, and very impressed, however I just tried to install a new ruby with `ruby-install 2.2.1` which resulted in `ruby-install: unsupported ruby: 2.2.1` - I quickly discovered my error from reading the readme on github, but it would be nice if the error message contained a helpful hint about what I might have done wrong and I wouldn't even need to leave the console to discover t

[2015-05-06 02:04] TimMoore opened #219 "`declare -g` is not available on the standard Mac OS X version of bash"
I just updated to the HEAD of `ruby-install`, and I now get errors when I run it:

[code]

It looks like this was just introduced in e9a18f49bdd266149bffa38713d7f4eb75f73004, but unfortunately doesn't work on the stock OS X version of bash:

[code]

[2015-05-06 13:49] rapenchukd commented on #219
declare -g is also not available on any EL6 or EL5 platforms. This just broke our whole infrastructure!

[2015-05-06 19:28] jrochkind opened #220 "doesn't know about recent rubies?"
Followed instructions in README to install ruby-install 0.5.0.  But it doesn't know about MRI 2.2?

[code]

`ruby-install ruby` of course gets me 2.1.3 instead of actual latest 2.2.2.

Where does ruby-install get it's list of rubies, does it need to be updated for more recent rubies?

[2015-05-06 19:34] jrochkind commented on #220
Similarly, the README suggests `ruby-install ruby 2.2` to "Install a stable version of Ruby". I'm not sure if this is intended to install 2.2.0 or latest 2.2.x (2.2.2), and tried it to find out, but it does not seem to actually work:

[code]

However, `ruby-install ruby 2.2.2` does, even though 2.2.2 wasn't listed in `ruby-install`. It would be nice not to have to keep track of what the latest MRI

[2015-05-06 22:32] havenwood commented on #219
@rapenchukd It was tested in the sense that the tests were run locally and by continuous integration. As well as manual checks on several GNU/Linux distros, OS X, FreeBSD and OpenBSD with both bash and zsh. It wasn't tested on dated bash, where it unfortunately breaks.

@TimMoore Thanks for the report! Closing as the issue is fixed by fc290fbd859a0ffab1d11a061a6e56e15ddc1fde.

[2015-05-06 22:32] #219 closed

[2015-05-06 22:51] havenwood commented on #220
The plan is to automatically download any outdated version and checksum files from [ruby-versions](https://github.com/postmodern/ruby-versions) when appropriate ruby-install commands are run. See #175. I look forward to that feature!

At the moment ruby-install 0.5.0 ships with somewhat dated version and checksum files. Until the `--update/--no-update` feature ships, while installing you can run `

[2015-05-06 23:14] jrochkind commented on #220
Cool. Should `make update` be added to install instructions in the README?

Also the README suggests "Does not require updating every time a new Ruby version comes out.", which I guess is technically true, you can install whatever ruby version you want, you just have to know about it, it won't be listed in the available versions. I think maybe the README should explain?

[2015-05-11 03:12] postmodern commented on #175
So I attempted to use wget/curl's timestamp checking functionality, unfortunately `raw.githubusercontent.com` does not support the `Last-Modified` header, so wget/curl will re-download anyways. Also, `raw.githubusercontent.com` isn't as fast as I hoped. Looks like I will have to fallback to my original strategy of re-downloading if the file(s) are more than an hour old.

[2015-05-11 07:13] postmodern commented on #175
See the [cache branch](https://github.com/postmodern/ruby-install/tree/cache) for my WIP.

[2015-05-13 10:15] Azulinho opened #222 "choose pkg manager to use based on the OS distro"
Instead of looking for which package manager is installed, ruby-install should look into the OS distro and map the package manager to use based on the OS.
See #211

An example:
you could use a mix of $OSTYPE, and lsb_release that will give you if its a linux/osx box and which distro it is.

and this:
http://unix.stackexchange.com/questions/6345/how-can-i-get-distribution-name-and-version-number-in

[2015-05-15 09:52] d2s opened #223 "ruby 2.2.2 installation fails on Ubuntu 15.04"
Install fails when running:
[code]

_(I had already installed previous ruby-2.1.3 version with `ruby-install ruby` and that did work as expected.)_

### Essential parts

[code]

Full terminal log can be seen at [Gist](https://gist.github.com/d2s/50b85708dfc99a2c06e5).

### System details

#### OS version: [Ubuntu 15.04](https://wiki.ubuntu.com/VividVervet/ReleaseNotes)

#### Kernel version:
[code]

[2015-05-27 14:31] 13k commented on #175
@postmodern would you consider using a CDN service, like https://bintray.com (it's free for open source) or even S3 (paid)?

uploading the versions file(s) could be done automatically via Travis CI, in a similar fashion as [how ruby-build uploads to S3](https://github.com/sstephenson/ruby-build/blob/e932d47195d76d6be9635a012056069e794039e0/script/s3-put)

[2015-05-27 15:32] postmodern commented on #175
@13k you can specify your own mirror with the `-M,--mirror` option. ruby-core already uses http://cache.ruby-lang.org/ which is hosted by fastly and JRuby/Rubinius already host their releases on S3.

[2015-05-27 15:35] postmodern commented on #175
@13k hmm I will consider hosting the version/checksum files on another service when we hit github's bandwidth limit. The files are quite small and ruby-install should only update them once every couple hours. Still, it would be able to properly cache them using `If-Modified-Since` headers.

[2015-05-27 21:29] postmodern commented on #220
Once we have decent test coverage on the [cache](https://github.com/postmodern/ruby-install/tree/cache) branch, updates will happen automatically.

[2015-05-27 21:29] #220 closed

[2015-05-27 21:32] postmodern commented on #223
Can you reproduce this manually to prove it's not caused by ruby-install?

[2015-06-16 14:56] martinezcoder commented on #166
CC=/usr/bin/gcc rvm install ruby-2.2.2 worked for me. Thank you @jamonholmgren

[2015-06-16 23:29] treeder opened #225 "I'm getting "unsupported ruby: 2.2.2""
When I run: `sudo ruby-install 2.2.2`

I get: ruby-install: `unsupported ruby: 2.2.2`

[2015-06-16 23:30] #225 closed

[2015-06-16 23:30] treeder commented on #225
Doh, wrong command.

[2015-06-29 18:36] postmodern commented on #199
Should we also unset GEM_PATH for good measure?

[2015-07-04 18:02] thegedge opened #226 "Verification fails for equal md5 checksums."
[code]

My guess is trailing whitespace. Tested against HEAD on OSX 10.9.5.

[2015-07-04 19:53] postmodern commented on #226
The `checksums.md5` in master has the correct number of spaces, so it must be the utility or our parsing of it's output:

    00000000  61 66 36 65 62 34 66 61  37 32 34 37 66 31 66 37  |af6eb4fa7247f1f7|
    00000010  62 32 65 31 39 63 38 65  36 66 33 65 33 31 34 35  |b2e19c8e6f3e3145|
    00000020  20 20 72 75 62 79 2d 32  2e 32 2e 32 2e 74 61 72  |  ruby-2.2.2.tar|
    00000030  2e 62 7a 32 0a

[2015-07-04 23:26] thegedge commented on #226
Output from `md5 -r ruby-2.2.2.tar.bz2 | hexdump -C` in `$HOME/src`:
[code]
Looks like there's only one space instead of two.

[2015-07-04 23:56] postmodern commented on #226
Shouldn't be a problem since we do `echo -n "${output%% *}"`. Since I don't have an OS X system in front of me and I'm all out of ideas, pinging @havenwood.

[2015-07-05 01:53] thegedge commented on #226
You're right, my bad. I always forget the `*` there is a glob-style pattern, not a regex :)

I investigated more and found the problem, which actually isn't exclusive to OSX: I have `GREP_OPTIONS="--color=always" in my environment, so you should pass `--color=never` [here](https://github.com/postmodern/ruby-install/blob/7901eb01f66bb345cdb80073bf9a99c768806285/share/ruby-install/checksums.sh#L24).

[2015-07-05 03:28] postmodern commented on #226
From the man-page, it looks like we'll need to unset GREP_OPTIONS, GREP_COLOR and GREP_COLORS.

[2015-07-05 19:17] thegedge commented on #226
Reinstalled at HEAD and everything is working a-o-k now. Thanks for the quick fix, @postmodern!

[2015-07-05 19:46] postmodern commented on #226
Good to hear! Now have to figure out when to do a release.

[2015-07-05 19:46] #226 closed

[2015-07-12 14:46] lloeki commented on #199
Makes sense. Also, some distros (Arch Linux) have the habit of having a `/etc/gemrc` (or something like that) that may trip some things up by setting a `--user` flag (IIRC) for the `gem` command to use.

[2015-07-12 18:54] anonova opened #227 "Support dnf package manager"
Fedora 22 [replaced yum with dnf](http://dnf.baseurl.org/2015/05/11/yum-is-dead-long-live-dnf/), which is supposed to be a drop-in replacement for yum. This means the package names currently described for yum are the same. The interface is mostly the same as well.

Note that this can be a low priority issue since Fedora currently has a shim for yum to redirect to dnf. Even though it will print a d

[2015-07-13 14:06] chalmagean commented on #223
+1 this is weird, it worked fine on a VM but failed on my VPS

[2015-07-14 09:05] lifeBalance opened #228 "!!! Compiling ruby 1.9.2-p330 failed!"
I'm on Yosemite, trying to install **ruby 1.9.2-p330** by doing:

[code]

but I get the error pointed out in the title. What to do?

[2015-07-16 18:47] mustmodify opened #229 "install fails with "/usr/local/src//: Is a directory""
First off, thanks for ruby-install. I wouldn't have thought it would make my life dramatically easier but it seems to help. :)

I just tried this on a different machine and it worked fine. Should be the same setup as I used the same script. :)

[code]

[2015-07-17 14:38] mustmodify commented on #229
this worked:

    root@xyst:~$ ruby-install rubinius 2.5.8

[2015-07-17 14:53] mustmodify commented on #229
also unfortunate:

    jw@xyst:~$ chruby rubinius-2.5.8
    Warning:: command not found
    Warning:: command not found
    Warning:: command not found
    Warning:: command not found

[2015-07-17 15:26] mustmodify commented on #229
This is just strange.

According to my reading of the code on master, the ruby version comes from [this list](https://github.com/postmodern/ruby-install/blob/e2edd47e7e46b33592a0e990d25fe5046d6cb081/share/ruby-install/ruby-install.sh#L10). That list hasn't been touched since fc290f on 2015-05-06. (and even then, the list didn't change.)

I checked /usr/local/share/ruby-install/ruby-install.sh and

[2015-07-17 15:28] mustmodify commented on #229
adding `rbx` to the list of rubies leads to:

[code]

[2015-07-17 15:30] mustmodify commented on #229
However, the issue isn't resolved:

[code]

[2015-07-17 16:18] havenwood commented on #229
It seems there's an old, pre-0.4.0 version of ruby-install (before [this commit](https://github.com/postmodern/ruby-install/commit/962c41abc85027accf8fee5a3e147acfe80c2238) landed) still lingering on your system.

See if a `sudo make uninstall` and fresh install of ruby-install resolves the issue?

[2015-07-28 06:58] bronson commented on #218
I agree.  And the error message doesn't help.  `unsupported ruby: 2.2.1` shows that the command knows you're trying to install a ruby, so why would the solution be to specify `ruby 2.2.1`?

[2015-08-09 10:12] Extrapolator214 commented on #223
+1. It works fine for me on local Ubuntu 15.04, but fails on DigitalOcean VPS.
Workaround: RUBY_CONFIGURE_OPTS=--disable-install-doc (as suggested here: https://github.com/sstephenson/ruby-build/issues/729 )
[code]

[2015-08-22 14:45] boone opened #230 "New release?"
I noticed that the [homebrew formula](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/ruby-install.rb) for ruby-install uses the last release, which was October 2014.

Will there be future releases, or should the homebrew formula just point to master?

Thanks!

[2015-08-24 06:17] dentarg commented on #230
Would be nice with a new release because 0.5.0 does not use [https for cache.ruby-lang.org](https://github.com/postmodern/ruby-install/commit/9e97cc901f961b3d7dcc7a7ccea2153a9a39b395)

[2015-08-25 17:54] postmodern commented on #230
Yeah about that. We have some experimental caching support in the [cache](https://github.com/postmodern/ruby-install/tree/cache) branch. @havenwood has been testing it and it seems to work. However, we need more tests before I can feel safe about merging it. I really want to include caching support in 0.5.0.

[2015-08-26 12:21] boone commented on #230
@postmodern perhaps you could release 0.5.1 with the current master and 0.6.0 when the cache branch is merged?

[2015-08-28 06:37] ches commented on #230
Seems like a release just for fresh suggested Ruby versions would be a good idea, if nothing else—I just finally upgraded a Mac to Yosemite and had one build headache after another with versions baked into ruby-install 0.5.0, installed by default from Homebrew. After a `brew rm ruby-install && brew install ruby-install --HEAD` everything was smooth and pain-free on the newer Rubies. I was helping

[2015-08-28 20:53] postmodern commented on #230
I would rather we just do the work of reviewing the caching branch, that way we don't have to release new versions just for new rubies.

[2015-08-30 08:50] mhenrixon commented on #230
Any idea on when a new release might happen?

[code]

[2015-08-30 09:46] ches commented on #230
@postmodern That's reasonable—is that branch to a point where you or @havenwood is ready to open a PR, to encourage others to review and test? A PR would be helpful to provide explanation of the branch's intent for the lesser-informed to quickly understand what we're looking at and how to test :smile:

[2015-08-30 19:44] postmodern commented on #230
@ches basically [parse_ruby_version](https://github.com/postmodern/ruby-install/blob/e17d673f9d0bb60ae9905ca718ef10eb0e82c117/share/ruby-install/ruby-install.sh#L410-L434) just needs unit-tests. That function checks if the version is already known, if not, updates the versions/checksums, then attempts to resolve the version.

[2015-09-11 15:42] jlecour opened #231 "Compile 1.8.7 on OS X 10.10"
Hi,

It's killing me to ask about this, since 1.8 is supposed to be 6ft under. The thing is, I'm trying to kind of maintain an old project that can't run on 1.9+ and I don't find a way to recompile Ruby 1.8.7 on my Mac.

Is there still a way to do this, even if it has to be done manually for some parts ?

I can find my way in a terminal, but I know nothing about compilation…

Thanks.

PS : writing

[2015-09-11 15:47] jlecour commented on #231
Here is the package and my issue :

https://github.com/Homebrew/homebrew-versions/issues/962

[2015-09-14 01:52] mdub opened #232 "Install fails on "openssl" dependency on OS X with HomeBrew"
[code]

[2015-09-14 01:54] mdub commented on #232
Solved with `brew install openssl`.

It appears ruby-install is invoking HomeBrew incorrectly?

[2015-09-14 17:47] postmodern commented on #232
https://github.com/postmodern/ruby-install/blob/9c08e56c799532acfced926eb8adc70efbbcce3f/share/ruby-install/ruby-install.sh#L108-L110 this has worked in the past. Appears to be a permission issue.

[2015-09-14 17:52] postmodern commented on #231
You pretty much have to manually compile Ruby 1.8.7 with an older version of gcc, openssl, etc. I would suggest using a legacy Ubuntu VM. There is also the [backports](https://rubygems.org/gems/backports) gem which helps with porting to 1.9.

[2015-09-14 17:52] #231 closed

[2015-09-14 23:32] mdub commented on #232
Yeah, it seems to be caused by the `su`.

[code]

I'm running OS X 10.10.5.

[2015-09-14 23:36] mdub commented on #232
Fixed it with: `mkdir ~/Library/Caches/Homebrew`

[2015-09-14 23:36] #232 closed

[2015-09-22 02:36] #146 closed

[2015-09-30 07:57] dmoran-epages opened #234 "ruby-install installs ruby version without ruby.h"
Hello.

If you install a ruby version using ruby-install everything works fine.
If you then install rails as a gem, it will fail complaining that it cant find files like "ruby.h"
One can install these via the os package manager, but this will almost certainly be  a version mismatch.. the version of my ruby-devel is 2.1 but I just installed ruby 2.2.3.

see https://github.com/postmodern/chruby/issu

[2015-10-01 00:21] timuckun opened #235 "Please upgrade version for brew and have a way to fetch the latest versions"
Just a feature request.

Thanks.

[2015-10-08 00:27] vitorgalvao opened #236 "`--cleanup` not working at all"
`--cleanup` doesn’t work at all, for me. I don’t even see any message pertaining to it (though the source seems to suggest there should be some).

The command I’m using is

[code]

Also tried moving `--cleanup` to the end of that. Same result. If I do a typo (like `--cleanuo`) it does say it doesn’t recognise the command, so it does indeed recognise `--cleanup`, it just isn’t doing it.

---

`ruby

[2015-10-08 01:35] havenwood commented on #236
I'm not able to reproduce this with ruby-install 0.5.0 on OS X with bash 3/4 or zsh.

Double check that the downloaded Ruby archive isn't getting deleted after successful installation? Is the output at the end similar to the following?:
[code]

[2015-10-08 01:46] havenwood commented on #235
For now you can use the `brew reinstall ruby-install --HEAD` command to update to the latest master branch of ruby-install. The [cache branch](https://github.com/postmodern/ruby-install/tree/cache) supports fetching the latest versions when outdated. If you're interested in testing the cache branch any feedback is appreciated. I look forward to it in the 0.6.0 release! Closing as a duplicate of #2

[2015-10-08 01:46] #235 closed

[2015-10-08 18:00] vitorgalvao commented on #236
Ah, something occurred to me (was going to specify that in the top post but forgot).

I slightly misunderstood the option. I was under the impression the `src` dir would be removed, but that appears to not be the case. Why not, though? I understand you might not want to blindly delete the directory in case it already existed, but it seems to me a `cleanup` option should indeed get rid of it if it

[2015-10-10 14:16] igolden opened #237 "Ruby 2.2.3 Download Failing, '--no-check-certificate' not working"
Hi,

First off, love using ruby-install and chruby to manage my rubies. I feel like it's the most lightweight, non convoluted way to manage rubies. So thanks for all you awesome work on this gem!

But when I'm trying to download the latest stable version of Ruby (2.2.3), I get the following error consistently.

--2015-10-10 08:13:41--  https://cache.ruby-lang.org/pub/ruby/2.2/ruby-2.2.3.tar.bz2
Re

[2015-10-10 14:21] igolden commented on #237
Nevermind, I fixed this by reinstalling ruby-install with homebrew. I think I had installed it using the following method for some reason:

'brew install ruby-install --HEAD'

I just uninstalled, and reinstalled normally.

'brew uninstall ruby-install'
'brew install ruby-install'

[2015-10-10 14:21] #237 closed

[2015-10-14 11:08] allcentury opened #238 "Can't install latest MRI vs from Rubinius"
I'm hoping this is something on my end but it's easy to reproduce so I thought I'd create an issue.

Set up:
- chruby rbx 2.5.8
- ruby-install ruby 2.2.3
  - this should hang on "making encs"
  - kill process

Output and stacktrace:

[code]

You can see if I switch to another version of MRI before installing 2.2.3 it works as expected.

[2015-10-15 17:49] dayer4b commented on #234
+1

[2015-10-17 14:49] vitorgalvao opened #239 "`--cleanup` should remove `src` directory"
From https://github.com/postmodern/ruby-install/issues/236#issuecomment-146638902, regarding `cleanup`:

I was under the impression the `src` dir would be removed, but that appears to not be the case. Why not, though? I understand you might not want to blindly delete the directory in case it already existed, but it seems to me a `cleanup` option should indeed get rid of it if it wasn’t there befor

[2015-10-17 14:50] vitorgalvao commented on #236
Closing in favour of https://github.com/postmodern/ruby-install/issues/239 (since it is specific to the implementation of the feature).

[2015-10-17 14:50] #236 closed

[2015-10-26 18:19] fingolfin commented on #237
I have the same issue, I guess it is because of 9e97cc901f961b3d7dcc7a7ccea2153a9a39b395 -- so perhaps this should be reopened?

[2015-10-28 08:47] sheldonh opened #241 "Fails without bzip2"
ruby-install fails on systems without bzip2 installed:

[code]

I think bzip2 should be added to dependencies?

[2015-11-09 17:21] enxebre opened #243 "ruby-install ruby 2.2 failing to download?"
When ``` ruby-install ruby 2.2 ```
I got:

Warning: openssl-1.0.2d_1 already installed
Warning: readline-6.3.8 already installed
Warning: libyaml-0.1.6_1 already installed
Warning: gdbm-1.11 already installed
Warning: libffi-3.0.13 already installed

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Lef

[2015-11-09 22:45] wallies commented on #243
i get the same on brand new mac with brew. i was wondering whether it was based on a two number thing but this works ruby-install ruby 2.0, 2.1 etc. but not with the newest 2.2. Tested with master and 0.6 branch and it now works. So im thinking it has something to do with ruby-versions

[2015-11-18 23:04] postmodern commented on #241
It is listed as a requirement in the README. How did you install ruby-install?

[2015-11-18 23:11] postmodern commented on #234
Was an issue with using `sudo gem install` which runs as root using system ruby, instead of your current selected ruby. This is due to `sudo` filtering out sensitive environment variables (ex: `$PATH`) for security reasons.

[2015-11-18 23:11] #234 closed

[2015-11-19 00:01] postmodern commented on #238
It appears that MRI's makefile is invoking `ruby` instead of `./bin/ruby`. Try reproducing without ruby-install. This may be a MRI bug instead.

[2015-11-19 06:54] sheldonh commented on #241
I used an Ansible role that was written for Ubuntu, where you get bzip2 out of the box. It's not a problem if you're happy with it being a documentated manual dependency. I just noticed the lengths the script goes to, to install dependencies, and assumed it must be an oversight, without checking the README.

[2015-11-19 06:54] #241 closed

[2015-11-23 05:27] ilikepi commented on #243
The stable version of ruby-install currently in Homebrew is out of date.  See the work-around provided in [this comment](https://github.com/postmodern/ruby-install/issues/235#issuecomment-146390633) on a similar issue.

This was also reported in #230.

[2015-11-23 18:45] krisleech commented on #184
rbx (~> 2.5) needs an older LLVM (~> 3.5) then is installed by latest xcode or brew. Check the system LLVM is okay or you have an older brew installed version with `ls /usr/local/Cellar/llvm`.

[code]

Good luck.

[2015-11-26 19:45] cknoxrun commented on #238
I get the same thing, but not from Rubinius, from MRI. It hangs on making encs.

[2015-11-30 21:53] timuckun commented on #175
Any progress on this. I just installed from brew and when I type ruby-install I get the following.

[code]

There is no option to upgrade the list so I now have to come here to github and check the latest versions.

[2015-11-30 22:08] vitorgalvao commented on #175
@timuckun If all you want is to install the latest ruby, you can do it pretty easily:

[code]

Although yes, it would naturally be best to be able to do so manually.

[2015-11-30 22:29] nengxu commented on #175
@vitorgalvao This kind of manual long command may not sound "pretty easily"?

[2015-11-30 22:31] timuckun commented on #175
@vitorgalvao I think an --update option would be much more intuitive

[2015-11-30 22:36] vitorgalvao commented on #175
“Manual”?

[code]

There, add it to your shell’s startup files. Run `update_ruby` when you want.

Yes, and like I said:

You had a clear complaint, @timuckun (emphasis mine):

I gave you simple way to not have to do that anymore. Yes, we would all prefer this to be native, but since it currently isn’t supported, would you rather not have an easy alternative for the mean time?

[2015-12-01 19:55] postmodern commented on #175
I've been working in the [cache](https://github.com/postmodern/ruby-install/tree/cache) branch and am now re-arranging the code. The main blocker is that raw.githubusercontent.com does not support the `Last-Modified` header, so I can't do [real timestamp caching](http://blog.yjl.im/2012/03/downloading-only-when-modified-using_23.html) with `wget`/`curl`. This leaves me with the following alternati

[2015-12-01 20:07] timuckun commented on #175
@postmodern

I think an hour or two cache would be sufficient.  Let's face it we don't do a ruby install every day. Chances are we do a ruby install when we are setting up a new machine and when we want to upgrade. If I am setting up a new laptop I might install a couple of versions but that's about it.

Having said that you could also add a --update option to force the update or for those occasio

[2015-12-02 11:04] henjin opened #246 "can't install ruby 1.8.7 on ubuntu 14.04"
Hi,
I can't install ruby 1.8.7 on ubuntu, getting this error
[code]

im using ruby-install: 0.5.0

[2015-12-02 23:58] postmodern commented on #246
ruby 1.8.7 can no longer be compiled with modern versions of gcc, openssl, libreadline, etc. To compile it you literally need an older environment.

[2015-12-02 23:58] #246 closed

[2015-12-04 07:43] Immortalin opened #247 "Use https by default when downloading source"
Currently it downloads from `http://cache.ruby-lang.org/pub/ruby/<version>` etc., it would be more secure to use the https version by default instead.

[2015-12-04 23:00] aprescott commented on #247
The latest `master` commit [seems to use HTTPS](https://github.com/postmodern/ruby-install/blob/9c08e56c799532acfced926eb8adc70efbbcce3f/share/ruby-install/ruby/functions.sh#L6):

[code]

Maybe you're seeing this on an older version of ruby-install?

[2015-12-05 01:13] postmodern commented on #247
Already fixed. Just need time to do a release.

[2015-12-05 01:13] #247 closed

[2015-12-09 03:30] paddor commented on #184
Got it to compile and install using:

[code]

[2015-12-09 05:08] postmodern commented on #175
OK, I've decided to hold off on auto-updating and just provide an option for explicit updating. My logic is the user is wants to install a new version, specifically because they heard a new version was recently released. So it's not too much to require the user specify `--update`. Also thought about naming it `--sync` or `--update-cache`. May eventually add the ability to remove/update previously

[2015-12-09 09:08] timuckun commented on #175
:+1:

[2015-12-12 08:38] postmodern commented on #175
Got a prototype of the new code working-ish. Wondering if we should explicitly check for the `~/.cache/ruby-install/` directory and download everything, or download on-the-fly when we access individual files and they are missing?

[2015-12-22 22:43] igalic commented on #179
this issue seems a little out of date…

[2015-12-22 23:49] #179 closed

[2015-12-23 01:23] igalic commented on #179
hmhmhm… cool!
but i suppose that was not the cause of ruby-install only showing the following versions:
[code]

[2015-12-24 00:52] postmodern commented on #179
@igalic yes, ruby-install 0.5.x still uses versions that are bundled with ruby-install. I've been working on a branch that can download new versions/checksums from [ruby-versions](https://github.com/postmodern/ruby-versions).

[2015-12-25 02:37] postmodern commented on #227
Implemented in 4560b6dbe39cc1c2ff23bc04cbfa380cd81cdab1.

[2015-12-25 02:37] #227 closed

[2015-12-25 02:39] postmodern commented on #218
I accidentally already implemented this in the ruby-versions branch. https://github.com/postmodern/ruby-install/blob/b33db550eea4fc1def8451979ea1b2df6fe149f9/share/ruby-install/ruby-install.sh#L71-L92

[2015-12-25 02:39] #218 closed

[2015-12-25 02:41] postmodern commented on #230
I refactored the code and have a working-ish prototype in the [ruby-versions](https://github.com/postmodern/ruby-install/tree/ruby-versions) branch. It will auto-download versions/checksums files on first run and will update them if `--update` is specified. I just need to fix existing tests and write more tests for the new functionality, then we can release 0.6.0.

[2015-12-25 02:41] #230 closed

[2015-12-25 02:43] postmodern commented on #175
Checkout the [ruby-versions](https://github.com/postmodern/ruby-install/tree/ruby-versions) branch for a working-ish `--update` option. Also note it will auto-download the version files if they are missing (ex: on first run).

[2015-12-25 02:44] postmodern commented on #128
If anyone wants to submit a PR to pass proxy options to both `curl` and `wget`, I'd accept it!

[2015-12-25 02:45] postmodern commented on #114
Not a lot of interest and I don't have a BSD install handy. Putting this on the backburner for now.

[2015-12-25 07:39] bronson commented on #218
Very cool, looking great.  Does it make sense to try the branch?  Alpha quality, looking for feedback?

[2015-12-25 07:48] postmodern commented on #218
Finished adding tests for the new code and everything is passing. Definitely looking for feedback on usability. I went with the simplest approach first of auto-downloading the files if they are missing, or if `--update` is specified.

[2015-12-25 08:14] postmodern commented on #175
Merged ruby-versions into 0.6.0 branch. Getting ready to merge into master, provided no outstanding negative feedback.

[2015-12-25 09:39] postmodern commented on #102
Support coming for this in 0.6.0.

[2015-12-25 09:39] #102 closed

[2015-12-25 09:47] postmodern commented on #175
Last minute @havenwood and I decided to go with `--latest` to avoid implying that we're updating ruby-install itself or any previously installed rubies.

[2015-12-25 10:46] postmodern commented on #175
aaaand 0.6.0 has been released! Happy `--latest`ing.

[2015-12-25 10:46] #175 closed

[2015-12-25 11:11] postmodern commented on #218
0.6.0 is now released. Happy `--latest`ing!

[2015-12-25 11:30] dysnomian commented on #114
I've got this almost PR ready. It's been a lot of fun crawling around in the guts of this! ☺

[2015-12-25 11:59] postmodern commented on #114
@dysnomian cool! I later realized we have a `fetch` function in `util.sh`. That will probably need to be renamed to avoid shadowing the `fetch` command.

[2015-12-25 12:33] aprescott commented on #247
Looks like this made it into the 0.6.0 release. Thanks @postmodern!

[2015-12-25 15:57] KINGSABRI opened #249 "Make the installed ruby default"
Hey!
Thanks man for the script, it saves our day.

Now, We need some option to make the new installed version as the default Ruby version of our system. Would you make this easier, please?

I'm using Kubuntu 15.10

[2015-12-25 16:08] bronson commented on #218
Allowing both `ruby-2.3` and `ruby 2.3` is excellent.  It like the original issue is still there though...  technically.

[code]

Using 0.6.0.

[2015-12-25 18:20] havenwood commented on #218
@bronson See #44 for some discussion about why just a version isn't supported.

I wonder about just making the error message more helpful when the arguments start with a digit.

[2015-12-25 19:35] havenwood commented on #249
Installing system-wide would make the installed Ruby your default (as long as `/usr/local/bin` is in the front of your `PATH`): `sudo ruby-install --system ruby`

[2015-12-25 19:44] KINGSABRI commented on #249
Thanks, actually the default path is ubuntu is

[code]

[2015-12-25 20:01] havenwood commented on #249
That's not related to your `PATH`. I'd expect you'll see the same if you try `PATH="" /usr/bin/whereis ruby` since `whereis` looks for source, binaries, and manpages in standard locations not just in your `PATH`. If you'd like to see the order or Rubies in your `PATH` try `which -a` instead of `whereis`.

The standard `PATH` in Ubuntu will vary by type of install but here's an example:
[code]

[2015-12-25 20:04] bronson commented on #218
Ah, thanks.  That's good reading.

Agreed, a better error message would be great.

[2015-12-25 20:07] bronson commented on #44
This seems inconsistent...?  Either it's called `mri` and just another ruby, or it's called `ruby` and is the intuitive default.

[2015-12-25 20:14] havenwood commented on #44
@bronson For each of the Rubies the engine name matches the `RUBY_ENGINE` value. So `"ruby"` for MRI, `"mruby"` for mruby, `"jruby"` for JRuby and `"rbx"` for Rubinius.

So it's `RUBY_ENGINE`-`RUBY_ENGINE_VERSION`.

[2015-12-25 20:25] bronson commented on #44
Ah right, I'd forgotten about RUBY_ENGINE.

Like anything, it makes sense once you see the internals.  :)

[2015-12-25 21:56] KINGSABRI commented on #249
Aha, that's right
[code]

maybe I've to make symlink for it in `/usr/bin/ruby`

[2015-12-25 22:52] postmodern commented on #44
@bronson we settled on naming the rubies after their primary executable (MRI -> ruby, Rubinius -> rbx). This also nicely aligns with `RUBY_ENGINE`. I also don't think it's fair to the other rubies to give special treatment to MRI.

[2015-12-25 23:52] postmodern commented on #249
@KINGSABRI check your `$PATH` and make sure `/usr/local/bin` is before `/usr/bin`, that way your installed ruby overrides the system's ruby.

[2015-12-26 02:18] postmodern commented on #222
It's really easy to end up with complex code like this: https://github.com/postmodern/chruby/blob/66e4cfb647acd5901028f0463b0c1704082dc1e9/test/setup#L39-L150 (originally from RVM 1). I would prefer simple code that checks what flavor we are on (Linux vs. BSD, Debian vs. RedHat, OSX vs. FreeBSD).

[2015-12-26 03:17] timuckun commented on #175
Yea!

Thanks for all the hard work

[2015-12-26 10:00] postmodern commented on #243
ruby-install 0.6.0 has been released and is now available in homebrew. What's different in this ruby-install is it will auto-download the version/checksum files on first run, or if the `--latest` option is given.

[2015-12-26 10:00] #243 closed

[2015-12-26 16:39] geoffharcourt commented on #177
@postmodern, if there's a way for users to suggest a default installation location, it makes it much easier to use ruby-install with a Ruby version manager like rbenv without having to use the same command arguments over and over again. In our company dotfiles we've [suggested a wrapper around ruby-install](https://github.com/thoughtbot/dotfiles/pull/445), but since most users would install all th

[2015-12-27 05:40] postmodern commented on #177
I want to keep additional env variables to a minimum. I've been meaning to write a plugin for rbenv but never got around to it. The only problem is that rbenv omits the `ruby-` prefix for MRI. For MRI you'd need to resolve the fully qualified version and set `--install-dir` to `~/.rbenv/versions/X.Y.Z`. `--rubies-dir ~/.rbenv/versions` would be sufficient for rbx, jruby, etc.

[2015-12-28 00:34] postmodern commented on #156
Slowly getting there! ruby-install 0.6.0 downloads versions/checksums into `~/.cache/ruby-install`. Eventually will move the downloaded files into there. Might have to add a `--clean-cache` option to avoid files building up.

[2015-12-28 00:40] postmodern commented on #207
Now that we keep an exhaustive list of checksums, I don't think this is such an annoyance anymore? Perhaps we should change the logic to fail if no checksums can be found?

[2015-12-28 00:51] postmodern commented on #223
Also found the same upstream bug report: https://bugs.ruby-lang.org/issues/11494

@hsbt is this is a known or fixed bug? Are people still running into this with 2.2.3 or 2.2.4?

[2015-12-28 00:55] postmodern commented on #239
Attempting to `rmdir` the directory sounds like a good idea. Maybe add a `[[ -n "$(ls -A src)" ]]` check first? Although, I'm considering eventually downloading/extracting into `~/.cache/ruby-install/`.

[2015-12-28 23:55] hsbt commented on #223
fmm, It's not ruby bug. It seems to happen OOM killer at tiny VM to me.

[2015-12-29 02:18] postmodern commented on #223
That would explain why it fails on some Ubuntu VMs but not others. Going to close this for now.

[2015-12-29 02:18] #223 closed

[2015-12-29 02:19] postmodern commented on #223
As a workaround, users can specify: `ruby-install ruby 2.2.2 -- --disable-install-doc`

[2015-12-29 17:13] vitorgalvao commented on #239
No need. `rmdir` only deletes empty directories. We could `[[ -e 'src' ]]` to make sure it exists, though, but there are other operations done on it right before, so there’s really no need for it.

I currently [download it to a temporary directory made on the fly](https://github.com/vitorgalvao/dotfiles/blob/22d6ace844688cd9d63033209b28f1b4c172753c/scripts/01_environments.sh#L20).

Either way, fir

[2015-12-31 17:43] MtnBiker opened #252 "ruby-install --latest "unrecognized" and ruby -v disconnect"
From the terminal. Two problems. --latest doesn't work. Latest version earlier than what I have. On El Capitan. Haven't installed any Rubies with ruby-install.
~  $ ruby-install --latest
ruby-install: unrecognized option --latest
~  $ ruby-install
Latest ruby versions:
  ruby:
    1.9.3-p547
    2.0.0-p576
    2.1.3
  jruby:
    1.7.16
  rbx:
    2.2.10
  maglev:
    1.0.0
  mruby:
    1.0.0
~  $

[2015-12-31 17:51] havenwood commented on #252
It seems you're not using the latest ruby-install 0.6.0, which adds support for the `--latest` option.

Check your ruby-install version?
[code]

[2015-12-31 17:58] MtnBiker commented on #252
$ ruby-install --version
ruby-install: 0.5.0
I just installed ruby-install using 'brew install ruby-install', so brew's not up to date. And that's a recommended method to install.
brew install ruby-install --HEAD comes up with 0.5.0.
I can it fixed/closed when the ReadMe is updated to reflect this problem.
Thanks for answering. Guess I can use wget to install, but I don't need that many things to

[2015-12-31 18:17] MtnBiker commented on #252
Posted too quickly. brew update, brew upgrade got me to 0.6.0.
And ruby-install --version is now consistent.
Although it shouldn't be necessary, maybe a caveat about brew update, brew upgrade could be added to the ReadMe.

I guess I need to know why brew install doesn't install the latest version, seems like brew needs fixing, but that's another issue.

[2015-12-31 18:17] #252 closed

[2016-01-01 15:00] wincent opened #253 "Add ability to override package manager auto-detection"
I'm on a corporate-managed OS X machine that happens to have both `brew` and `yum` installed on it, and I am running afoul of [these lines](https://github.com/postmodern/ruby-install/blob/0623212ca5402bae2635f350c4e7099931987c3c/share/ruby-install/util.sh#L6-L12) which auto-detect the package manager to use.

In this case, it finds the corp-managed `yum` first and tries to use it, then blows up. I

[2016-01-06 10:19] CodeGnome commented on #207
@postmodern I think from a UX perspective I expect a message saying something like "Verified by SHA-512" (or whatever) in the output to show that it *has* been verified, and then fail if no checksums are found or provided *unless* someone has used some kind of force flag.

My thinking is that:

1. Verification should be an explicit user-visible action, rather than something implicit in the process

[2016-01-14 23:54] im-grey opened #257 "After installing Ruby 2.0.0 my system cannot "see" or use it."
This is in Trisquel 7.

[code]

[2016-01-15 00:51] postmodern commented on #257
Use [chruby]() to see/use rubies installed into `~/.rubies/` or `/opt/rubies.` Or install the ruby globally using the `--system` flag.

[2016-01-15 00:51] #257 closed

[2016-01-15 17:59] im-grey commented on #257
I tried this but it left me with the following error.
[code]

Full - http://pastebin.com/4ka4QTeb

[2016-01-15 19:25] postmodern commented on #257
Forgot to mention `--system` requires root privs. `sudo ruby-install --system ruby 2.0` should do the trick.

[2016-01-15 19:27] im-grey commented on #257
What if I already am, and was, doing it with ```sudo```?

[2016-01-15 19:30] postmodern commented on #257
Can you paste the full ruby-install command?

[2016-01-15 19:42] im-grey commented on #257
So, I was trying something different after my last comment. The original command was
````sudo ruby-install --system ruby 2.0.0-p648````
Which failed with the above error. But then I tried
````sudo ruby-install --system --latest ruby````
Which actually worked!
[code]

I wonder why that is?

[2016-01-15 19:45] postmodern commented on #257
Does `sudo ruby-install --system ruby 2.0.0-p648` continue to fail with the "Permission denied error" or a different error?

[2016-01-16 03:57] sunnyrjuneja opened #259 "mruby 1.2.0 fails"
Hi,

I'm trying to install mruby 1.2.0 (the latest version of mruby) on OS X 10.10.4.

[code]

When I try to install mruby 1.1.0, it successfully completes. If there's anything I can do to improve this issue, let me know. Thanks for all your hard work. I find ruby-install very useful.

[2016-01-16 03:58] sunnyrjuneja commented on #259
Also, when I run clang -v, this is the output:

[code]

[2016-02-22 21:49] xavriley commented on #259
I just had the same problem because I'd installed mruby 1.0 with rvm before trying to install mruby-head.
Switching my ruby version to MRI 2.2.1 fixed it for me.

[2016-03-06 10:00] xijo opened #261 "Downloading latest versions fails"
Hi,

on my ubuntu machine with `ruby-install` version `0.6.0` I get the following error:

[code]

Getting the files manually via curl works as expected. Any ideas how to continue debugging?

Thanks in advance,
Jo

[2016-03-08 20:36] postmodern commented on #261
First, I would check the permissions of `/home/apps/.cache/ruby-install/`. Also is this a one-time failure, intermittent or reproducible? Additionally, you could test the full `curl`/`wget` commands:

    wget -c -O "/home/apps/.cache/ruby-install/ruby/versions.txt.part" "https://raw.githubusercontent.com/postmodern/ruby-versions/master/ruby/versions.txt"
    curl -f -L -C - -o "/home/apps/.cache/

[2016-03-09 18:44] eurojet commented on #261
I think there is a problem with the server certifcate. this workaround for "wget" works for me:
file:ruby-install-0.6.0/share/ruby-install/util.sh
in function download() change the line:
		wget) wget -c -O "$dest.part" "$url" || return $?         ;;
for this one:
		wget) wget --no-check-certificate -c -O "$dest.part" "$url" || return $?         ;;

I hope this works for you.

[2016-03-09 19:35] postmodern commented on #261
@eurojet you most certainly want to check the certificate, otherwise you could be MITMed. Could you paste the full details of the certificate you're getting back for https://raw.githubusercontent.com/? The certificate I get back is registered for `www.github.com`, but includes `raw.githubusercontent.com` in the Subject Alternative Name section.

[2016-03-09 21:10] eurojet commented on #261
Don't worry about it.  This is a problem with old versions (1.12) of wget, and the workaround is the option "--no-check-certificate". it works fine with new versions (1.16).

Congratulations for your excellent work!!! It is very usefull for me.

Best regards.

[2016-03-09 22:52] mperham opened #263 "readline support not working?"
I'm running 0.6.0 on El Capitan.  I've run `brew install readline` but when I ruby-install the latest 2.3, my irb does not support history.  This note about keg-only looks ominous, is there a way to make this Just Work™ with ruby-install so the user doesn't need to symlink anything or worry about this?

[code]

[2016-03-09 23:05] postmodern commented on #263
ruby-install already [explicitly passes in the `brew --prefix` values for all dependencies](https://github.com/postmodern/ruby-install/blob/bb5328a6cf28bf1dbe21cc60d0de30e53afea1a1/share/ruby-install/ruby/functions.sh#L24-L32). What does `brew --prefix readline` return? Or is this another issue where the version of libreadline is newer than what ruby currently supports?

[2016-03-09 23:06] mperham commented on #263
[code]

[2016-03-09 23:10] postmodern commented on #263
@mperham could you try compiling the ruby manually with `--with-opt-dir=$(brew --prefix openssl):$(brew --prefix readline):$(brew --prefix libyaml):$(brew --prefix gdbm)`?

[2016-03-09 23:19] mperham commented on #263
Like so? `ruby-install ruby -- --with-opt-dir=$(brew --prefix openssl):$(brew --prefix readline):$(brew --prefix libyaml):$(brew --prefix gdbm)`

[2016-03-09 23:23] postmodern commented on #263
Sorry meant:

    ./configure --with-opt-dir=$(brew --prefix openssl):$(brew --prefix readline):$(brew --prefix libyaml):$(brew --prefix gdbm) --prefix=$HOME/.rubies/ruby-....
    make
    make install

[2016-03-09 23:58] mperham commented on #263
If I run the first two commands and then `bin/irb` to run the built binary, history works as expected.

[2016-03-10 00:00] mperham commented on #263
Hold on, now I can't reproduce the history not working.  Up arrow is working for me.  Maybe I somehow activated the system Ruby.  Will reopen if I can reproduce it again.

[2016-03-10 00:00] #263 closed

[2016-03-21 13:06] nedludd opened #264 "Gem path problems (ruby-1.9.3)"
When installing gems under 1.9.3 rubies (I've tried with `ruby-1.9.3-p550` and `ruby-1.9.3-p551`) the wrong path is generated:
[code]

Is this a problem with `gem` or what?

[code]

[code]

[2016-03-21 13:08] nedludd commented on #264
Gah nevermind, it _was_ a `gem` problem.

[2016-03-21 13:08] #264 closed

[2016-04-01 23:05] drhuffman12 commented on #259
I also got "... ./minirake:7: undefined method 'require' for main ..." on android [via Gnuroot].

[2016-04-03 19:24] dt1973 opened #265 "unrecognized option --no-check-certificate"
Anybody else getting this?

[code]

Thanks!

[2016-04-04 20:17] rmosolgo commented on #259
Ohhh to clarify @xavriley 's comment, the problem is that `./minirake` is trying to use _mruby_ but it should use "real" ruby.

I had to change my project to use "real" ruby with `rbenv local 2.3.0`

So for me, it was fixed by

[code]

[2016-04-05 13:58] ferrarimarco opened #266 "Avoid an installation if the requested ruby is already installed"
Currently I am running `ruby-install ruby x.x.x` to install Ruby as a non privileged user.

If I run the same command again with the same user, ruby-install does not check if the package is already installed, but installs it one more time, leading to a waste of time.

[2016-04-05 21:11] postmodern commented on #266
There is a `--no-reinstall` flag, or do you want `--no-reinstall` to be the default behavior?

[2016-04-05 21:40] havenwood commented on #266
@ferrarimarco Sometimes folk build the same version once again but differently.

[2016-04-05 21:52] ferrarimarco commented on #266
@postmodern I didn't notice the flag. Is there any documentation? Maybe it could be useful to have a --force-reinstall flag and the --no-reinstall be the default, like other package managers do, like pip for example.

@havenwood I think it's a bad practice so it should not be encouraged.

[2016-04-05 22:04] havenwood commented on #266
@ferrarimarco What's bad practice about rebuilding the same version with different build options? Say for example you want to rebuild 2.3.0 with tail call optimization or whatever else?

[2016-04-06 07:04] ferrarimarco commented on #266
@havenwood I misunderstood your first answer. This is a perfectly fine use case.

[2016-04-06 10:37] jreinert opened #267 "Patching ruby with 801e1fe46d83c856844ba18ae4751478c59af0d1 fails"
[code]

[2016-04-15 04:34] zerOnepal opened #269 "Regarding ruby-install extension like ruby-removal to letgo old rubies installations"
I was recently bundling lots of ruby-projects and got stumbled upon low-disk space problem, and after few serlock inspections, found out i was carrying multiplle old version of rubies:
[code]

Since I switched to *chruby+ ruby-install* from *giant: rvm* never had a single hunch that it was a wrong choice. But I wish there exists some installed ruby removal version of ruby-install :thought_balloon:

[2016-04-15 15:20] baccenfutter opened #270 "Makefiles `all` target assumes a git repository"
Build tools (such as the `ark` cookbook) will run the classic `./configure` + `make` + `make install` build-chain.

The installation routine of ruby-install requires only `make install` to be run, not `make`.

However, when `make` is run (without a target), the Makefile executes at least one git command, which fails when `ruby-install` was downloaded as tarball (does not contain the .git subfolder

[2016-04-25 01:14] jzaleski commented on #184
Got `rbx-3.27` to work on El Capitan with the following:
[code]
I would assume this should work for other versions of Rubinius / OSX as well.

[2016-05-04 17:49] Angristan commented on #135
Hello, how to uninstall everything related to ruby-install ?

[2016-05-04 22:29] postmodern commented on #135
@Angristan ruby-install just installs rubies into directories which can safely be `rm -r`ed. You may also want to clean out `~/.gem/` of any gems installed under those rubies.

    rm -rf ~/.gem/{ruby,jruby,rbx}
    rm -rf ~/.rubies
    sudo rm -rf /opt/rubies

Then uninstall ruby-install via homebrew or `make uninstall` if you installed it manually.

[2016-05-05 07:12] Angristan commented on #135
Thanks, but it does not remove everything :

[code]

[code]

[2016-05-07 02:51] postmodern commented on #135
@Angristan `/usr/local/lib/ruby/` and `/var/lib/ruby` are most likely part of your system's installed Ruby; unless you ran `ruby-install --system ruby ...`. I forgot about `~/.cache/ruby-install`.

[2016-05-07 03:22] postmodern commented on #270
I changed `all` to be a no-op in 4f2296fc97caede365e230ed1fa75364afcfee46.

[2016-05-07 03:22] #270 closed

[2016-05-07 03:25] postmodern commented on #269
I plan on adding a `ruby-uninstall` command. It should `cd` back into the ruby src dir and run `make uninstall` or `rake uninstall`, if available.

[2016-05-07 03:28] postmodern commented on #267
I don't think https://github.com/ruby/ruby/commit/801e1fe46d83c856844ba18ae4751478c59af0d1.diff is compatible with 1.9.3-p551. Also, ruby 1.9.3 has been End of Lifed.

[2016-05-07 03:28] #267 closed

[2016-05-07 03:31] postmodern commented on #265
1. cache.ruby-lang.org's certificate shouldn't be expired.
2. Currently, you cannot pass in additional options to `wget`/`curl`.

[2016-05-07 03:31] #265 closed

[2016-05-13 22:43] gretel commented on #135
@postmodern @JuanitoFatas that needs to be
[code]
to the **n**.

inconsistently, to have `bundler` call `gem` this way one needs to pass `--wrappers` to the calls of `bundle install` and `up`.

[2016-05-18 05:12] zerOnepal commented on #269
nice one @postmodern, `if availabe :(`
Most of time I clean up the ruby `src/*` file used for installation, :no_good:

[2016-05-30 19:45] expit opened #273 "Add bzip2 to dependency check"
ruby-installer does not check if there is bzip2 binary on the system.
On Centos 7 there is no bzip2 package in minimal installation (probably the very same issue will be on RedHat, I don't know if any other minimal system comes without bzip2).
Due to lack of bzip2 following error occurs after downloading package:

[2016-05-31 15:47] natarajs opened #274 "unable to compile latest ruby on Ubuntu 16.04"
Hi,
     When running ruby-install ruby on Ubuntu 16.04 I am getting the error unknown type name ‘time_t’:

      Please help.

Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 5.3.1-14ubuntu2' --with-bugurl=file:///usr/share/doc/gcc-5/README.Bugs --enable-languages=c,ada,c++,java,go,d,fortran,objc,obj-c++ --prefix=/usr --program-suffix=-5 --enable-shared --e

[2016-05-31 20:36] natarajs commented on #274
apt-get install —reinstall libc6-dev fixed the issue

[2016-05-31 20:36] #274 closed

[2016-06-02 05:41] postmodern commented on #273
This could be solved by installing ruby-install via an rpm. We have an rpm [spec file](https://github.com/postmodern/ruby-install/blob/master/rpm/ruby-install.spec) in the repo, and another user has created [COPR packages](https://copr.fedorainfracloud.org/coprs/nwallace/ruby-tools/).

[2016-06-06 00:18] benlieb opened #275 "install latest ruby? (2.3.1)"
Is there a step I need to do do have ruby-install have the ability install the latest?

Also:

http://stackoverflow.com/questions/37648055/ruby-install-to-install-latest-ruby

[2016-06-08 22:13] postmodern commented on #275
Make sure your running ruby-install version >= 0.6.0. From `ruby-install --help`

    	-L, --latest		Downloads the latest ruby versions and checksums

So to update and install the latest stable version of ruby, you'd run:

    ruby-install --latest ruby

That's it!

[2016-06-08 22:13] #275 closed

[2016-07-01 11:30] sebn opened #277 "Fedora 24 may need explicit bison dnf dependency"
Installing ruby 2.2.1 on Fedora 24 works fine.
But when trying to run `rails console` on some project, `require 'ripper'` fails.
Looking at the ruby build log, it seems `ripper` was not built because bison was not found.
Running `dnf install bison` installs it, which means it wasn't installed by `ruby-install` as a dnf dependency.
My guess is that it was pulled as a transitive dependency on Fedora

[2016-07-04 14:01] skade commented on #128
I hit this issue when ruby-install tries to install via brew. Calling brew directly works.

[2016-07-05 06:51] #277 closed

[2016-07-05 06:52] postmodern commented on #277
Good catch. Annoying that MRI does not have an explicit list of build dependencies.

[2016-07-06 08:37] icy commented on #246
@henjin You may try a lower patch number, e.g, `ruby-1.8.7-p374`

[2016-07-08 03:34] adam-stokes opened #279 "Ubuntu 16.04 and rubinius fails to install, missing apt dependency"
Running Ubuntu 16.04 (Xenial) there is no longer a ruby1.9.1-dev packaged in the archive, see this error:

[code]

The available ruby interpreter now is `ruby 2.3.0` which you can get by installing `ruby` package.

In order to support prior versions of Ubuntu we'd need to probably check `/etc/lsb-release` and add the package dependency accordingly.

[2016-07-20 06:45] anamewing commented on #261
Mayby the install script should check version of `wget`, if `wget` is too old, the script should consider using `curl`.

I can reproduce this issue with `wget 1.12` on Centos 6.5, with `ruby-install 0.6.0`.

[2016-07-20 19:21] postmodern commented on #261
I will update the dependencies in the README and packages.

[2016-07-20 19:21] #261 closed

[2016-07-21 22:26] adeluccar opened #280 "Thank you note"
Quick note to let you know that I use this utility all the time.
Thank you for making it available.

[2016-08-16 22:44] nengxu commented on #275
@postmodern This is confusing. The latest ruby is 2.3.1. So according to the document, the following command should install the latest stable version:

ruby-install ruby

How can ruby-install still assume that 2.3.0 is the latest stable version?

Is there some definition file where the latest stable version is defined? If so, how is this file updated? Thanks.

[2016-08-16 22:55] havenwood commented on #275
@nengxu Instead of `ruby-install ruby` use `ruby-install --latest ruby` to download the latest versions and checksums from [ruby-versions](https://github.com/postmodern/ruby-versions#readme) and install the latest Ruby.

[2016-08-17 17:13] nengxu commented on #275
@havenwood Thanks.

[2016-08-27 12:41] penman commented on #253
I have a similar reason to want to use Homebrew over my system package manager (apt). Short of adding an override, maybe it would be reasonable to move Homebrew to the top of the package manager list, since if somebody has gone to the trouble of installing Homebrew in addition to the system package manager, they probably want to use it?

I agree that a way to override would be best though.

[2016-08-29 16:19] Vanhecke opened #281 "Works on Ubuntu on Windows. <3"
Since Ubuntu still manages to ship Ruby 1.9.3 I instantly came back to this script.
Just worked as expected, pretty cool.

( I only tested regular ruby )

[2016-08-30 06:39] mvz commented on #269
I usually just remove the whole installation directory for old ruby versions. Not sure if that works for system installations, though.

[2016-09-05 14:16] #194 closed

[2016-09-13 14:19] npendery opened #282 "Ruby-install for 2.3.1 fails in OS 10.11.6"
STOUT:

[code]

[2016-09-13 22:24] bluebaroncanada commented on #223
This issue still exists.

[2016-09-14 13:55] justanton commented on #239
noob comment on that:
after done installing Ruby with `ruby-install`, is that ok to remove ~/src directory? I assume these are source files needed for installation only, and not for Ruby to work afterwards.

[2016-09-14 13:56] vitorgalvao commented on #239
@justanton Yes, it’s OK to delete it.

[2016-09-14 14:07] justanton commented on #239
Thank you @vitorgalvao !

[2016-09-14 18:59] postmodern commented on #239
Minor note: if you ever have to debug ruby with `gdb`, keeping the source allows gdb to print the source code lines when stepping through `ruby`.

[2016-10-21 13:57] MortalCatalyst opened #283 "Need to check for any openjdk"
As debian and ubuntu now default to openjdk8 or greater the check for jruby should be of a value greater than 8 otherwise it fails.

[code]

[2016-11-11 07:56] steakknife commented on #238
This is an MRI bug (build environment leak).

[2016-11-11 19:45] CodeGnome commented on #184
## What Works
This now seems to work on macOS Sierra when using the latest versions of both Rubinius and the most recent LLVM package from Homebrew (currently 3.9.0). For example:

    brew install llvm
    ruby-install --latest rbx

## What Doesn't
Without using the the latest versions, you get the prior behavior of:

[code]

[2016-11-13 04:23] franklinyu commented on #269
Isn't it just

[code]

or am I missing anything?

[2016-11-13 04:25] franklinyu commented on #281
On Windows?

[2016-11-13 05:30] franklinyu opened #285 "Environment variable for Ruby configuration"
E.g., do the same as

[code]

with

[code]

This has advantage that a user may want to have global (user-specific) Ruby configurations, such as `--foo-lib-path=/my/path/to/foo`. It is `--with-readline-dir=/usr/local/opt/readline` in my case (on OS X), but I believe there may be more use cases.

[2016-11-13 07:08] mvz commented on #269
@franklinyu that's what I use, but AIUI you can make ruby-install do a system installation and then it may be harder.

[2016-11-13 21:36] franklinyu commented on #269
@mvz Oh, because the files scatter everywhere? (Sorry I never tried messing with system Ruby.)

[2016-11-15 22:17] Vanhecke commented on #281
@franklinyu "Bash on Ubuntu on Windows"*

[2016-11-16 18:36] franklinyu commented on #281
@Vanhecke Wow, good to hear that. It was a nightmare to install Ruby on Windows.

[2016-11-17 22:37] dayyan commented on #282
Make sure you have xcode command line utils installed.

[code]

[2016-12-01 13:48] mvz opened #287 "Install libssl1.0-dev instead of libssl-dev with apt"
On recent versions of Debian, libssl-dev installs dev files for libssl 1.1. CRuby fails to build with that, and needs libssl 1.0 instead.

Please consider installing libssl1.0-dev instead.

[2016-12-03 23:55] burningTyger opened #288 "rubinius install tries to system install mri"
I have 2.3.3. installed through ruby-install and now I'm trying to add rbx. Upon `ruby-install rbx 3.69` ruby-install tries to install 2.3.3 again through the system package manager. Is this the supposed behaviour?

I'm on Arch Linux w/o a system ruby installed.
I'm building from source now, the actual missing dependency was llvm.

[2016-12-04 03:13] postmodern commented on #288
This is intentional. ruby-install installs MRI from the package manager along with the other Rubinius build dependencies. We use the system's Ruby for consistency.

[2016-12-04 03:13] #288 closed

[2016-12-04 16:59] burningTyger commented on #288
ok, thanks.

not just for the quick answer but also for chruby and the installer. Works painless and is just a great piece of software. :+1:

[2016-12-21 00:10] hedgehog opened #289 "Cygwin gem install bundler: cannot load such file -- win32/resolv (LoadError)"
I'm running into this issue under Cygwin,  `gem install bundler` returns this error under `ruby-install`ed `2.2.6` and `2.3.3`:

https://github.com/rvm/rvm/issues/3519

Which was also raised upstream for ruby 2.3:

https://bugs.ruby-lang.org/issues/12071

[2017-01-16 12:31] #190 closed

[2017-01-23 23:46] gkuhn1 commented on #166
also worked to compile 2.3.0 in MAC OS X Sierra.

[2017-01-25 23:14] jeremy-hanna opened #291 "If installed using Homebrew, ruby-install errors because sudo installs are no longer allowed"
Env:
- mac OS X: 10.12.2
- Homebrew: 1.1.8
- ruby-install: 0.6.1

![screen shot 2017-01-25 at 5 11 25 pm](https://cloud.githubusercontent.com/assets/16483405/22313228/5c02193c-e321-11e6-8ed7-f9462973cc36.png)

https://github.com/postmodern/ruby-install/blob/cc831fcfb8a96a04a38f961b69b2d1172330cefd/share/ruby-install/util.sh#L98-L99

[2017-01-25 23:41] jeremy-hanna commented on #291
My temp fix:
- downloaded the source and `make install`ed it - failed in the same fashion
- removed `sudo -u "$brew_owner" ` from the two lines linked above and `make install`ed it - failed for permissions
- `sudo make install` built it and works

[2017-01-25 23:50] jeremy-hanna commented on #291
I guess this is more environment configuration than a bug with `ruby-install`, would it make sense to have a warning thrown if `brew_owner` is ever root?

[2017-02-01 21:47] ELLIOTTCABLE opened #292 "First installation (of Ruby 2.4.0) fails on OS X"
[code]

It looks like there's a bunch of packages already installed in Homebrew — (it'd be helpful if the output for those lines included which version `chruby` *wants*, and which it's *getting*.)

But even after `brew uninstall automake bison openssl readline libyaml gdbm libffi`, it still fails in the same way upon configuration.

[2017-02-02 19:30] sarahduve opened #293 "Ruby 2.2.5 Compile fails with "ld: symbol(s) not found for architecture x86_64""
[code]

[code]

On a MacBook Pro (Retina, 15-inch, Mid 2015)
OS X 10.12.3 (16D32)

[2017-02-02 23:28] mattwynne commented on #292
I get something similar:
[code]
Will write up more if I learn anything.

[2017-02-02 23:53] mattwynne commented on #292
OK so the fix for me was to `brew install openssl --force` (I'm not sure whether the `--force` was necessary or not) and follow the post-install instructions to export two environment variables:

[code]

With that, it's installed like a charm. Thanks for a great piece of software @postmodern!

[2017-02-02 23:53] mattwynne commented on #293
@sarahduve looks like maybe you have a similar error problem to what I had half an hour ago: https://github.com/postmodern/ruby-install/issues/292#issuecomment-277118051

[2017-02-03 16:53] sarahduve commented on #293
@mattwynne that appears to have worked, thank you!

[2017-02-03 16:53] #293 closed

[2017-02-08 00:27] josephholsten commented on #291
the problem for me is that

[code]

[2017-02-11 20:15] graygilmore commented on #292
I had a very similar issue that was solved with:

[code]

[2017-02-12 07:51] twe4ked commented on #292
I'm getting similar to @mattwynne:

[code]

[code]

[2017-02-14 20:52] Meekohi commented on #194
Leaving this here for any other poor schmuck who has wasted an entire day on this:

Seems like newer versions of OSX deprecated openSSL, leaving lots of stuff broken. You need to reinstall ruby, but specify exactly where your openSSL libraries are for it to be compiled with them. If you're using rvm then that looks like:

[code]

If you're using homebrew, then a quick shortcut to where your librar

[2017-02-18 04:17] JPCodes commented on #194
@Meekohi, unfortunately this didn't work for me. Knowing that this is an OSX issue is encouraging though, maybe we'll get a patch for it soon.

[2017-02-18 19:56] ajackiewicz commented on #194
@meekohi that worked for me thanks a ton!

[2017-03-08 09:16] bsy commented on #292
Tried reinsatlling openssl and readline but still getting:
[code]

log file:
[code]

[2017-03-08 09:44] bsy commented on #292
nevermind, a full laptop restart fixed the issue!

[2017-03-08 16:44] eloyesp opened #294 "Adding a debug flag"
I would be an interesting adition and the code is not much, just `set -x` and that is enough.

[2017-03-09 18:20] martinos opened #296 "Issue downloading checksum"
I am trying install a version of ruby without success. I get the following error message:

Failed to download https://raw.githubusercontent.com/postmodern/ruby-versions/master/ruby/checksums.sha512

[2017-03-09 18:23] martinos commented on #296
I think githubusercontent.com server was having some issues. I works now.

[2017-03-09 18:23] #296 closed

[2017-04-12 14:56] markovanderpuil commented on #273
I have the exact same issue. Also as of now, there is no rpm for ruby-install in either Centos or Epel repos.

[2017-04-17 22:20] postmodern commented on #273
I've since created an official [COPR repo for ruby-install](https://copr.fedorainfracloud.org/coprs/postmodern/ruby-install/).

[2017-04-19 13:15] markovanderpuil commented on #273
Thanks, that's awesome, however Centos 7 & RHEL 7 do not support copr yet on neither dnf nor yum.

The Ruby install installation actually checks for dependancies and then installs them. Can we check for bzip2 or can we use something else like gzip, which is available on minimal installs?

[2017-04-19 13:51] jpickwell commented on #291
http://docs.brew.sh/Troubleshooting.html

@josephholsten, from that page try running

[code]

I prefer:

[code]

I'm not sure what causes it, but sometimes the `/usr/local` directory becomes owned by `root`.

[2017-05-30 14:42] papilip opened #299 "Readline failed on FreeBSD 11"
Hello All,

After install a new FreeBSD 11 server, ruby compile but without **readline** ```irb``` and ```rails console``` sucks

After some internet search i found a solution:
* install readline ```sudo pkg install readline```
* compile ruby with specific dir ```ruby-install ruby 2.4.1 -- --with-readline-dir=/usr/local/```

[2017-05-30 14:42] #299 closed

[2017-05-30 15:35] havenwood commented on #299
There's [a branch with pkg support](https://github.com/postmodern/ruby-install/tree/pkg) from a few years ago that hasn't made it into master yet. The deps that would have been installed via pkg for ruby are: `openssl readline libyaml gdbm libffi`

[2017-05-30 19:26] postmodern commented on #299
If there's interest, let's dig up the pkg branch and test it out in a VM.

[2017-05-31 10:13] papilip commented on #299
Thank you very much, I will test this branch and will come back give you the result

[2017-06-05 01:13] havenwood commented on #299
I opened PR #300 with an updated patch for pkg support.

[2017-06-05 21:27] indirect commented on #140
It's probably easiest to just print `OpenSSL::OPENSSL_LIBRARY_VERSION`, which is the version of OpenSSL that your running Ruby is using (as opposed to `OpenSSL::OPENSSL_VERSION`, which is what was present back when you originally compiled Ruby).

[2017-06-08 23:10] havenwood commented on #229
Closing this since the issue has been resolved since version 0.4.0. If you run into this try updating to the latest ruby-install.

[2017-06-08 23:10] #229 closed

[2017-06-11 05:31] Shelvak commented on #287
Same issue in archlinux.
I tried to install openssl-1.0 and lib32-openssl-1.0 to get the lib working, and put `--with-openssl-dir` but i didn't work.
I tried with env var and with the option param
`RUBY_CONFIGURE_OPTS=--with-openssl-dir=path/openssl/ ruby-install ruby 2.1.9 -- --with-openssl-dir=path/openssl/
`
Always get the same error
[code]

[2017-06-16 11:33] sofaking commented on #128
As an addition to @skade comment, I tried to preserve proxy settings via sudoers file (```/private/etc/sudoers```). You'll need to add your settings to ```env_keep``` section.

[2017-06-18 04:09] mithuns commented on #166
I have gcc5.4 installed via MacPorts, and I am trying to install ruby 2.4.0, but it keeps saying
`Warning: found user selected compiler '/usr/local/opt/apple-gcc42/bin/gcc-4.2', this will suppress RVM auto detection mechanisms.`

And doing gcc -v shows
[code]

I dont know what I am missing, any help ?

[2017-06-25 12:48] guilhermefeitosa66 commented on #287
Same issue in Elementary OS 0.4.1 Loki amd64.
INPUT: $ rvm install 2.3.3
OUTPUT:
Warning, new version of rvm available '1.29.2', you are using older version '1.29.1'.
You can disable this warning with:    echo rvm_autoupdate_flag=0 >> ~/.rvmrc
You can enable  auto-update  with:    echo rvm_autoupdate_flag=2 >> ~/.rvmrc
Searching for binary rubies, this might take some time.
No binary rubies availa

[2017-07-04 10:30] bugthing commented on #287
This is/was an issue for me using debian stretch (v9) .. I got around the issue by installing all dependencies manually (something like: `apt install libyaml-dev  libxml2-dev libssl1.0-dev libreadline-dev zlib1g zlib1g-dev libbison-dev libxslt1-dev libxml2-dev`) before running the ruby install telling it to NOT install dependencies, like so `ruby-install ruby --no-install-deps  2.3.4`

[2017-07-11 04:20] adeluccar commented on #280
Closing issue to avoid cluttering. ;-)
Thank you.

[2017-07-11 04:20] #280 closed

[2017-07-16 18:04] vitorgalvao commented on #239
Closing for lack of interest, as I don’t think it’ll ever be merged and I have long stopped using the tool.

Closing as part of personal cleanup of old PRs and issues. I don’t think this will ever be fixed in the suggested manner and have long stopped using the tool, so no point to inflating the number of issues.

[2017-07-16 18:04] #239 closed

[2017-07-24 20:43] franklinyu opened #301 "Update for Fedora 26"
Fedora 26 has been released, but [Copr is not updated](https://copr-be.cloud.fedoraproject.org/results/postmodern/ruby-install/fedora-26-x86_64/repodata/repomd.xml).

Also `chruby`.

[2017-08-08 21:51] franklinyu commented on #301
Duplicate of postmodern/chruby#390.

[2017-08-08 21:51] #301 closed

[2017-08-08 22:03] franklinyu commented on #177
I'm thinking about `~/.local/src`. Not sure about being canonical, though.

[2017-09-28 09:31] lacroutelacroute opened #304 "problem compil 2.2.8 on kali rolling"
hey admin

i have problem to compil ruby 2.2.8 on kali rolling
already compil 2.2.7

my trace
Generating RDoc documentation
Parsing sources...
100% [967/967]  vsnprintf.c

Generating RI format into /usr/local/src/ruby-2.2.8/.ext/rdoc...
Marshal.dump reentered at marshal_dump
/usr/local/src/ruby-2.2.8/lib/rdoc/store.rb:865:in `dump'
	/usr/local/src/ruby-2.2.8/lib/rdoc/store.rb:865:in `save_class'

[2017-09-28 13:23] lacroutelacroute commented on #304
install of 2.2.8 work with ruby-build

after past two command
export RUBY_CONFIGURE_OPTS="--disable-install-rdoc"
export RUBY_CONFIGURE_OPTS="--disable-install-doc"

[2017-09-29 13:03] lacroutelacroute commented on #304
I just tried to recompile 2.2.7 without success

[2017-09-29 13:20] lacroutelacroute commented on #304
manual compil and install work with this options
./configure  --disable-install-doc  --disable-install-rdoc  --prefix=/opt/rubies/ruby-2.2.8
make
make install

[2017-10-03 12:55] eins78 commented on #304
@lacroutelacroute If you need to pass flags/opts to the build process, put them at the end of the command, after a `--`.

So your command should be:
`sudo ./bin/ruby-install ruby 2.2.8 --no-install-deps -- --disable-install-rdoc --disable-install-do`

[2017-10-03 19:32] lacroutelacroute commented on #304
work fine

[2017-10-03 19:32] #304 closed

[2017-10-04 15:51] crivotz commented on #287
Problem seem related to the ruby version (2.1 2.2 2.3)

[2017-10-05 19:00] zebralight opened #305 "gets stuck at make[1]: Leaving directory '/home/user/src/ruby-1.9.3-p551'"
when running `ruby-install ruby 1.9.3-p551`, things seem to build and go fine except when I get to a part where it says, `make[1]: Leaving directory '/home/user/src/ruby-1.9.3-p551'`, and it stays that way for over 10 minutes.  I don't see any error messages either.

[2017-10-11 03:23] postmodern commented on #305
Curious whether this happens when compiling ruby-1.9.3-p551 manually?

[2017-10-24 13:39] mjacobus commented on #137
I had the same problem. Thanks @postmodern

[2017-10-31 14:59] imranashraf commented on #223
This issue still appears when installing ruby 2.2.3 on Ubuntu 17.10. However the following solves the problem:

`RUBY_CONFIGURE_OPTS=--disable-install-doc rbenv install 2.2.3`

[2017-11-29 15:25] trusche commented on #223
For anyone else coming across this, the issue seems to be the install process running out of memory on smaller VMs with <= 1G RAM. It's not Ubuntu-specific AFAIK. Adding some swap space did the trick for me. See for example https://www.digitalocean.com/community/tutorials/how-to-add-swap-space-on-ubuntu-16-04.

[2017-12-01 08:44] emamie commented on #166
CC=/usr/bin/gcc rvm install ruby-2.4.1
Worked for me. 👍

[2017-12-05 13:28] ssriram commented on #283
Is there a workaround for this other than installing openjdk 7?

[2017-12-05 13:36] ssriram commented on #283
In fact there is one. Changing "apt: openjdk-7-jdk" on the dependencies file to openjdk 8 will make it work.

[2017-12-07 05:49] TJC commented on #223
I've been hitting this exact problem installing ruby 2.2.3, but this is on a machine with 32G of ram, and 23G of that free during the install -- so it's not memory starvation.

[code]

[code]

[2017-12-07 23:50] postmodern commented on #223
@TJC check your available disk space for `/home`. Also, try `watch free -h` in another terminal while RDoc is generating.

Note, that ruby-install is only responsible for downloading the source, installing dependencies, then starting the ruby's build system. Any bugs in MRI's build system should be reported upstream to https://bugs.ruby-lang.org/.

[2017-12-07 23:58] TJC commented on #223
775G of free space in /home. I was running `top` while the build ran, and didn't see memory use look troublesome -- Ruby didn't use that much really, and there was always plenty free.

Thanks for your response; I do realise this is probably a Ruby bug, but after searching this issue was the only one already existent that matched exactly. I'll take it upstream.

Cheers

[2017-12-15 12:26] krisleech opened #306 "Installing 2.5-rc1 fails."
Installing 2.5-rc1 fails.

[code]

[code]

The correct URL seems to be:

https://cache.ruby-lang.org/pub/ruby/2.5/ruby-2.5.0-rc1.tar.gz

i.e. it is gzip not bz2.

[2017-12-15 12:26] krisleech commented on #306
My bad, I should have done `ruby-install ruby 2.5.0-rc1`. Thanks!

[2017-12-15 12:26] #306 closed

[2017-12-27 04:30] veganstraightedge opened #307 "Auto-run `--latest` when `install` doesn't find a version"
# Expected

When I run `ruby-install 2.5.0`, I expect `ruby 2.5.0` to install.

# Actual

Instead, I get `!!! Unknown ruby: 2.5.0`.

# Suggestion

Instead of requiring the user to run `ruby-install --latest` or `ruby-install --latest ruby-2.5.0`, I wish that `ruby-install` would auto-run `ruby-install --latest` when a version is requested but not found.

[2017-12-27 17:28] havenwood commented on #307
The Ruby engine, like "ruby" or "jruby", is expected before the version. It corresponds with `RUBY_ENGINE`. You can `ruby-install --latest ruby-2.5.0` or `ruby-install --latest ruby 2.5.0`.

[2017-12-28 09:30] veganstraightedge commented on #307
@havenwood Oh, I'm sorry. I didn't do a good job explaining myself.

I understand how it does work now. (I mistyped my issue above.)

What I'm suggesting / requesting is that when a user tries to install a version of a Ruby that `ruby-install` doesn't know about yet, then `ruby-install` should automatically run `ruby-install --latest` to update its list of known Ruby versions. For example:

`ruby-

[2018-01-15 05:21] yemartin commented on #190
In case someone else ends up here, make sure your packages are up to date.
I just faced a similar error where `ruby-install` failed with:

[code]

In my case, doing a `sudo apt-get update` and retrying fixed it.

[2018-01-20 11:04] yb66 opened #308 "Support for openssl md5 was dropped, any reason why?"
Hi,

The README and Changlog both say there's support for `openssl md5` but the line with that check appears to have been removed. Any reason? I can"t find an issue/commit message that specifies why.

Regards,
iain

[2018-01-20 17:03] havenwood commented on #308
There [is support for md5](https://github.com/postmodern/ruby-install/blob/master/share/ruby-install/checksums.sh) when you have the `md5` or `md5sum` commands available. (If that's what you mean?) If appropriate checksum commands are found, md5, sha1, sha256 and sha512 are all checked.

[2018-01-20 17:04] havenwood commented on #308
Ah, nevermind - I see what you're asking.

[2018-01-20 17:06] yb66 commented on #308
@havenwood Sorry if it wasn't clear, I'd have included links to the commits with the changes but with all the structural changes over the years I really wasn't clear what had gone where and thought it best to just ask.

[2018-01-20 17:38] havenwood commented on #308
I'd forgotten but `openssl md5` support [was added in this commit](https://github.com/postmodern/ruby-install/commit/82f9dbf08e62ec69a9bb847653a06f05f95f9a52). The last artifact of it in the code was [removed in this commit](https://github.com/postmodern/ruby-install/commit/cb61cce7189775fc864a6205014aa052c8ecffae#diff-b20e3eb34ab9de84e2ca343298ac8e29). Good question!

[2018-01-21 15:58] yb66 commented on #308
@havenwood If there's no philosophical reason against it then the pull request is there if needed.

And if anyone wants to clear up my ignorance and tell me how to run the tests that would be nice too! :)

iain

[2018-01-31 12:27] alyssais commented on #273
:+1: the COPR repo hasn't been updated for recent releases of Fedora, so isn't really a great option.

[2018-02-02 20:37] grzuy commented on #283
You can also

[code]

[2018-02-22 20:55] havenwood commented on #228
Closing this issue since it's so old. If anyone runs into something similar, please visit us in the #chruby channel on Freenode.net IRC or start a new issue. Thanks!

[2018-02-22 20:55] #228 closed

[2018-02-22 21:03] havenwood commented on #184
Recent versions of Rubinius no longer seem to have this issue.

[2018-02-22 21:04] havenwood commented on #249
Closing this since the issue was resolved.

[2018-02-22 21:04] #249 closed

[2018-02-23 21:43] havenwood commented on #253
Closed by #189.

[2018-02-23 21:43] #253 closed

[2018-02-27 19:13] eregon commented on #304
`ruby-install ruby 2.2.9 -- --disable-install-rdoc --disable-install-ri` indeed fixes for me as well.

[2018-03-18 19:29] ajwann opened #310 "compilation fails for MacOS High Sierra"
I'm trying to run ```ruby-install ruby-2.4``` on MacOS High Sierra 10.13.1.

During the compilation, I get the following error:
[code]

Here is the complete output of the compilation step
[code]

[2018-03-18 19:33] ajwann commented on #310
This looks a lot like (this dtrace issue)[https://github.com/Homebrew/legacy-homebrew/issues/32910]

[2018-03-28 21:34] eregon commented on #304
FWIW, same for 2.2.10:
[code]

[2018-05-05 19:14] javiereaw opened #312 "I tried to install Ruby 2.3.4 and I have Ruby 2.3.1"
I tried to install Ruby 2.3.4 and I have Ruby 2.3.1
Ubuntu 16.04

I used:

sudo apt-get install -y make
wget -O ruby-install-0.6.1.tar.gz https://github.com/postmodern/ruby-install/archive/v0.6.1.tar.gz

tar -xzvf ruby-install-0.6.1.tar.gz

cd ruby-install-0.6.1/

sudo make install

ruby-install ruby 2.3.4

sudo apt-get install -y gems

sudo apt-get install -y rubygems

ruby -v

xxxxx@localhost:~/

[2018-05-22 01:40] oharace commented on #312
`ruby -v` is showing the global ruby version that is being used. You installed 2.3.4, but didn't switch to it. Can you find 2.3.4 within the `~/.rubies/` directory?

I've only ever set the global version with the use of a version manager, like [chruby](https://github.com/postmodern/chruby)

[2018-06-02 14:32] ajwann commented on #310
@oharace that was my solution as well.

[2018-06-15 02:18] franklinyu commented on #301
I found [a fork of the package](https://copr.fedorainfracloud.org/coprs/psadauskas/ruby-install/) make by (I believe) @paul. Unfortunately it doesn’t seem active any more.

[2018-06-15 03:20] postmodern commented on #273
I tried refreshing the build for another version of Fedora, but it broke for some reason. I asked in one of the COPR channels but didn't get a response.

Should we add specialized installation instructions for RedHat based distros (ex:`dnf install bzip2 && sudo make install`) to the README? Or should we add bzip to the `dependency.txt` files for all package managers?

[2018-06-19 14:36] go2null commented on #287
`ruby_build`:
- https://github.com/rbenv/ruby-build/issues/1006
- https://github.com/rbenv/ruby-build/issues/1111
- https://github.com/rbenv/ruby-build/wiki#openssl-usrincludeopensslasn1_mach102-error-error-this-file-is-obsolete-please-update-your-software

`rvm`:
- https://github.com/rvm/rvm/issues/3862

Just encountered this today, again, (using `ruby-install`).

[2018-06-28 20:58] eliduke opened #316 ""Unknown ruby version" warning for an already installed ruby version"
I seriously hope I'm not waisting anyone's time here, but I'm seeing an interesting warning message that I can't totally figure out.

I am working on a project with a robust `script` directory with lots of tools for local development. One of said scripts (`script/server`) runs a couple checks things to make sure that the local environment is setup correctly. One of those checks tries to install ru

[2018-06-28 21:12] havenwood commented on #316
If you add the `--latest` flag then ruby-install will fetch the latest Ruby version metadata from [ruby-versions](https://github.com/postmodern/ruby-versions).

[2018-06-28 21:14] havenwood commented on #316
The feature suggestion in #307 is related, as it would provide an answer to this question.

[2018-06-28 21:20] eliduke commented on #316
@havenwood Cool! That did the trick. Thanks!

[2018-06-28 21:20] #316 closed

[2018-07-12 15:24] markovanderpuil commented on #273
How about both?

[2018-07-14 00:24] Shelvak commented on #287
If anyone needs a "quick fix" for any SO, installing `openssl-1.0` from official repos or manually, then you can do: `PKG_CONFIG_PATH=/usr/lib/openssl-1.0/pkgconfig ruby-install ruby 2.X.X`

Obviously `PKG_CONFIG_PATH=/usr/lib/openssl-1.0/pkgconfig`  with the correct path for openssl-1.0 pkgconfig.

Cheers.

[2018-07-17 17:07] oharace commented on #310
I was able to get mine to install successfully after disabling my antivirus (Avira).

[2018-07-18 18:29] franklinyu commented on #156
I guess `chruby` also needs to look at both `~/.local/share/rubies` and `~/.rubies`?

[2018-07-24 02:24] p-mongo opened #319 "Omitting ruby version makes ruby-install exit successfully"
I ran the following command:

<pre>
ruby-install -c -j2 --no-install-deps -r /data/rubies --patch 1.9.3-p551.diff -- --disable-install-doc
</pre>

What I meant to run was the following:

<pre>
ruby-install -c -j2 --no-install-deps -r /data/rubies --patch 1.9.3-p551.diff 1.9.3-p551 -- --disable-install-doc
</pre>

ruby-install silently ignored all of the command line arguments and told me what the

[2018-07-25 22:03] ajwann commented on #310
@oharace Thanks! I was able to do the same and get it working.

[2018-07-25 22:03] #310 closed

[2018-07-29 15:47] glenlance opened #320 "how to download faster with this prog in china?"
my download speed is 3-5k/s,I don,t know what to do!!!

[2018-08-05 02:09] postmodern commented on #312
Try `ruby-install --system ruby 2.3.4` to install a global ruby into `/usr/local`.

[2018-08-05 02:09] #312 closed

[2018-08-05 02:14] havenwood commented on #167
This is resolved now that [v0.7.0](https://github.com/postmodern/ruby-install/releases/tag/v0.7.0) has been released.

[2018-08-05 02:14] #167 closed

[2018-08-05 13:50] eregon opened #321 "Instructions for upgrading ruby-install"
Currently, the README doesn't say how to upgrade to the latest `ruby-install` (which is necessary, e.g. for installing TruffleRuby).

For instance ruby-build has an explicit section for this:
https://github.com/rbenv/ruby-build#upgrading

Is upgrading the same as the [Install instructions](https://github.com/postmodern/ruby-install#install) ?
I guess that's mostly fine but it might leave some file

[2018-08-05 13:51] eregon commented on #321
@postmodern @havenwood  Congrats on the 0.7.0 release by the way :)

[2018-08-24 20:29] vanhecke opened #322 ""user is not allowed to execute" on macos 0.7.0"
I'm trying to install latest cruby with ruby-install 0.7.0.
ruby-install perfectly installed past rubies (before 0.7.0)

[code]

[2018-08-27 23:37] dmolesUC3 commented on #166
FWIW, I hand-edited the configure script to clear `$CFLAGS` before the check, and it still fails:

[code]

So I think the problem is not actually with CFLAGS, whatever it is.

[2018-08-27 23:48] dmolesUC3 commented on #166
`config.log` shows the following:

[code]

When I create a source file with that content, and compile it with that command line, it compiles fine.  When I comment out the check:

[code]

`configure` succeeds.

So it seems as though something's wrong with the check, rather than the flags.

[2018-09-05 22:13] craigbookwalter opened #323 "`ruby-install ruby-2.4.4` produces corrupt binary on OSX High Sierra"
Using ruby-install v0.7.0, I tried to install ruby-2.4.4. Download and compilation complete successfully, but running the ruby binary results in the process getting killed immediately. I have plenty of free memory, and I don't see any messages in dmesg related to the process getting killed.

[code]

[2018-09-05 23:06] havenwood commented on #323
Can you confirm you're not running out of memory?

[2018-09-06 02:04] craigbookwalter commented on #323
Pretty sure I'm not -- I'm watching top while i try to run ruby but I don't see any evidence of running out of memory ...
<img width="556" alt="screen shot 2018-09-05 at 10 01 49 pm" src="https://user-images.githubusercontent.com/8204832/45130619-60da7200-b157-11e8-92cd-ce16830b0ec1.png">

[2018-09-07 15:58] paul commented on #273
@franklinyu Yeah, sorry, I hate it when packages are just abandoned like that. I switched to PopOS to try it out when it came out, but I want to switch back to Fedora at some point, just haven't had the time.

[2018-09-07 17:10] havenwood commented on #322
This looks like a file permissions/ownership issue. Homebrew's suggestion is to run:
[code]
This should fix your issue. The `brew doctor` command can also be handy to check on brew's health.

[2018-09-07 17:12] havenwood commented on #322
Please re-open this issue if your problems are not resolved by the above [Homebrew suggestion](https://docs.brew.sh/Troubleshooting.html#check-for-common-issues) for fixing permission issues!

[2018-09-07 17:12] #322 closed

[2018-09-10 21:13] vanhecke commented on #322
I'm still having this issue :/
brew doctor looks fine.

Could it be because my user doesn't have wildcard sudo powers?

[code]

I can run the commands just fine manually:

[code]

[2018-09-11 01:55] havenwood commented on #322
I'm assuming then it also fails if you run?:
[code]
Yes, I suspect changes from the default in your sudoers policy. Is that possible? By default on macOS, `/etc/sudoers` is set so "root and users in group wheel can run anything on any machine as any user".

[2018-09-11 02:00] havenwood commented on #322
The [relevant code](https://github.com/postmodern/ruby-install/blob/master/share/ruby-install/package_manager.sh#L41-L42) uses the sudo `-u` flag. "The sudoers policy only allows root or a user with the ALL privilege on the current host to use this option."

[2018-09-11 17:09] havenwood commented on #320
The download speed will depend on the Ruby engine you're using, since CRuby, JRuby, and others are downloading from different locations.

The default CRuby download is on the Fastly CDN (https://cache.ruby-lang.org/pub/ruby). You can instead use a mirror in China with the `--mirror` flag, like:
[code]

[2018-09-11 17:09] #320 closed

[2018-09-11 17:10] havenwood commented on #320
Another mirror in China is `https://cache.ruby-china.org/pub/ruby/`. See https://www.ruby-lang.org/en/downloads/mirrors/.

[2018-09-14 15:40] vanhecke commented on #322
Hi, yes this is correct.
In my sudoers file I do not have `brew `or `ALL`.
[brew doesn't require sudo in the first place](https://github.com/Homebrew/brew/blob/06beb972be251bda654c38985e1d557051e7faff/docs/FAQ.md#why-does-homebrew-say-sudo-is-bad)
Can we not make ruby-install work without sudo/root on macos?

[2018-09-18 17:17] dfockler opened #324 "TruffleRuby Wikidoc is out of date"
The TruffleRuby wiki points at the OTN download which now requires an Oracle login to download, this should instead point to the [Github page](https://github.com/oracle/graal/releases) with the community edition

[2018-09-18 18:39] dfockler commented on #324
Thanks!

[2018-09-27 18:07] kolosek commented on #287
In order to fix rvm get master, you can use this command:
echo insecure >> ~/.curlrc
And then run the rvm get master. It worked for me 18.04.1 Ubuntu

[2018-09-28 06:04] mvz commented on #287
@kolosek that is a good tip for rvm users, but I don't see how this has anything to do with this ticket, which is about installing older versions of Ruby with ruby-install?

[2018-10-13 14:56] habibalamin opened #325 "post_install hook not running"
I'm not sure if this applies to all the hooks, but I discovered this when I set up `chruby-default-gems` and it didn't do anything at all. I spent a while trying to figure out what was wrong with `chruby-default-gems`, but it seems to be fine itself.

When I do a:

[code]

I expect `ruby-install` to echo a line `POST INSTALL` after the installation completes, but it behaves exactly the same as wit

[2018-10-16 22:08] rennex opened #326 "Installing system Ruby should check permissions before compiling"
I used `ruby-install --system --latest ruby`, and after some minutes of compilation, it failed:

    Permission denied @ rb_sysopen - /usr/local/share/man/man1/ruby.1 (Errno::EACCES)

Without digging too deep, I assume this happened because I didn't use `sudo`. Running the command again with `sudo` succeeded, but it meant downloading the tarball again and waiting for the recompilation. Maybe there

[2018-12-06 22:39] schneems opened #327 "Preview and RC versions use shared sets of gems"
I had `preview3` installed and then I installed `rc1` via `ruby-install`. Once I did I got these errors:

[code]

Notice that it's trying to use `/Users/rschneeman/.rubies/ruby-2.6.0-preview3`. It turns out that's because even though I deleted `/Users/rschneeman/.rubies/ruby-2.6.0-preview3` the gems are still installed at `/Users/rschneeman/.rubies/ruby-2.6.0`. There was a hardcoded shebang line i

[2018-12-12 12:58] RobertAudi opened #328 "Fix the help for the --jobs option"
The help for the `--jobs` option is missing the `=` sign; The [man page](https://github.com/postmodern/ruby-install/blob/master/doc/man/ruby-install.1.md#options) documents the option properly.

https://github.com/postmodern/ruby-install/blob/adaeb23ff136270b3c8526554f1f17fe6fbc57e0/share/ruby-install/ruby-install.sh#L43

https://github.com/postmodern/ruby-install/blob/ea2b8bbff87ea4340d965e72ac3a

[2019-01-12 23:16] aar0nr opened #331 "Doesn't work with Homebrew on Ubuntu"
Homebrew v1.9 added Linux support, but the ruby installation doesn't work on Ubuntu. I think this is because the scripts detect the package manager as ```apt``` before it detects ```brew```. Thus, it tries to install dependencies with ```apt``` , and also doesn't configure the dependency paths correctly.

[2019-01-12 23:49] aar0nr commented on #331
If anyone else stumbles upon this, here is a workaround.

Manually install dependencies:

```brew install automake bison openssl readline libyaml gdbm libffi zlib```

Install latest ruby with:

```ruby-install --no-install-deps --package-manager brew ruby --  --with-zlib-dir=$(brew --prefix zlib)```

[2019-02-02 17:47] michaelglass opened #334 "can't install ruby after mojave upgrade"
just putting this here for posterity's sake:

just tried running `ruby-install` after a mojave upgrade and I got this error:

[code]

fixed when I reinstalled openssl

[code]

[2019-02-02 17:47] #334 closed

[2019-02-19 03:23] MtnBiker opened #335 "Ruby versions are about four months behind"
Is ruby-install being supported?

This is very handy to use with chruby and it would be great if it can be kept going.

[2019-02-19 06:43] havenwood commented on #335
The Ruby version metadata is maintained in the [postmodern/ruby-versions](https://github.com/postmodern/ruby-versions) repo. You can update ruby-install to the latest Ruby versions from ruby-versions with the `ruby-install --latest` command.

[2019-02-19 06:47] havenwood commented on #335
The `--latest` feature was added in #175.

[2019-02-19 17:34] MtnBiker commented on #335
On my computer:
[code]
But Ruby is up to 2.6.1 https://www.ruby-lang.org/en/downloads/. Ruby 2.6.0 Released
 on 25 Dec 2018

[2019-02-20 00:30] havenwood commented on #335
Closing as duplicate of #275.

[2019-02-20 00:30] #335 closed

[2019-02-20 00:32] havenwood commented on #335
Let us know if you have any issue with the latest versions with:
[code]
All the latest Rubies should be there!

[2019-02-20 00:46] MtnBiker commented on #335
OP here. My bad. It would have helped if I read beyond the first command. Thanks for straightening me out. But the first command is confusing "List supported Rubies and their major versions:

$ ruby-install

I must have thought this was listing available versions, not the versions I had already installed.

[2019-02-20 01:52] havenwood commented on #327
There's a [RubyGems issue ticket](https://github.com/rubygems/rubygems/issues/1049) open for using `--env-shebang` if `File.dirname(Gem.ruby)` is in `$PATH`. Here's a [chruby issue](https://github.com/postmodern/chruby/issues/163) that discusses a proposal for intentionally sharing gems between Rubies of the same ABI, which is a related issue.

I'd personally suggest setting `--env-shebang` in gem

[2019-02-20 04:23] MtnBiker commented on #335
@havenwood I get it now.

[2019-03-01 11:39] racer1988 opened #336 "Support for ruby 2.6.1 ?"

[2019-03-01 16:53] havenwood commented on #336
Ruby 2.6.1 is supported! Do you not see it after running `ruby-install --latest`?

[2019-03-02 00:11] havenwood commented on #336
Closing as a duplicate of #335 and #275. We might want to consider making `ruby-install --latest` more prominent. Possibly just replacing `ruby-install` as the first example in the README.

[2019-03-02 00:11] #336 closed

[2019-03-03 18:25] FranklinYu opened #337 "Can’t install Ruby on Mojave with MacPorts"
The `mkmf.log` for RubyGems is reporting that it cannot find `netinet6/in6.h`. I guess that previously it’s finding it in `/usr/include`, but as we all know Apple removed that path since Mojave. On my machine the current path is:

[code]

The C compiler seems fine if I’m using it stand-alone. I tried compiling following snippet:

[code]

And it works, although I have no idea which header it includ

[2019-03-05 09:22] racer1988 commented on #336
@havenwood Sorry for the late reply.

This is the console output of running simply `ruby-install` on macOS. I am using ruby-install coming from homebrew:

[code]

[code]

also installing Ruby 2.6.0 manually says that **the version of ruby is not supported** but will proceed anyway

[2019-03-06 17:59] havenwood commented on #337
It'd be awesome if you could [create an issue upstream](https://bugs.ruby-lang.org/projects/ruby-trunk/issues/new) on the CRuby bug tracker.

[2019-03-06 18:53] FranklinYu commented on #337
@havenwood I’m not familiar with the installation process; do you think this issue should be report to the CRuby or [RubyGems](https://github.com/rubygems/rubygems/issues)?

[2019-03-06 20:21] havenwood commented on #337
I was thinking CRuby's bugtracker, but good point - you could do either.

[2019-03-14 02:51] FranklinYu opened #338 "Check dependency with non-sudo"
I know that I can skip dependency check with `--no-install-deps`, but I’m proposing the default behavior to be:

1. Check whether dependencies are satisfied without super-user permission.
2. If some dependency is missing, install with super-user permission.

This way we can skip unnecessary `sudo` without breaking any current behavior.

[2019-03-14 03:07] FranklinYu commented on #337
I checked the log again, and found that it’s Ruby issue. The last error message is RubyGems complaining that it cannot `require 'socket'`, but that is caused by `socket` core extension failing to compile.

I created [bug 15665](https://bugs.ruby-lang.org/issues/15665).

[2019-03-14 13:49] AlanDonohoe opened #339 "Unable to install 2.5.3 (on Mac 10.14.3)"
When I run:

`ruby-install 2.5.3`

I get:

`!!! Unknown ruby: 2.5.3`

When I run:

`ruby-install`

I get:
[code]

[2019-03-14 14:31] havenwood commented on #339
It'd be:
[code]
or
[code]
or better yet, 2.5.4!

[2019-03-14 14:31] AlanDonohoe commented on #339
Result... I'm an idiot... was even looking at the docs and missed that...

Thank you!

[2019-03-14 14:32] #339 closed

[2019-03-19 14:00] FranklinYu commented on #338
Affected function:

https://github.com/postmodern/ruby-install/blob/ea2b8bbff87ea4340d965e72ac3acfb4ab1d1766/share/ruby-install/package_manager.sh#L32-L54

For example with APT we can have

[code]

In MacPorts

[code]

[2019-03-20 21:11] jm3 opened #342 "ruby-install rbx fails without llvm, but doesn't prompt that llvm should be brew installed"
I think this is just loose error reporting, not an actual bug, but when i run `ruby-install rbx`, it fails with:

    Detected old configuration settings, forcing a clean build
      Checking for 'llvm-config': executing "/usr/local/Cellar/llvm/7.0.1/bin/llvm-config" failed
    ABORT: unable to set up LLVM

    Running 'configure' failed. Please check configure.log for more details.
    !!! Config

[2019-04-10 22:54] postmodern commented on #342
Appears rbx updated their build system. In the past on macOS, they would download their own copy of llvm, so we omitted it from the `brew` dependencies.

[2019-05-07 15:52] ShalokShalom opened #344 "Rubinius 4.0"
https://github.com/rubinius/rubinius/releases

[2019-05-07 17:25] havenwood commented on #344
Now that it's been added to https://github.com/postmodern/ruby-versions/commit/48c668460376180a8de72f305a6d349dc5bc0005, you can fetch Rubinius 4.0 metadata with:
[code]

[2019-05-07 17:25] #344 closed

[2019-05-07 22:50] 0xdevalias opened #345 "Improve help text/examples for updating versions?"
Looking at https://github.com/postmodern/ruby-versions/blob/master/ruby/stable.txt#L2 2.4.6 is included, but when I run `ruby-install` it's not listed:
[code]

Is there some way I can force my version to pull the latest list?

[code]

Alternatively, maybe the version on `brew` is outdated?

[code]

Which seems to match the latest release: https://github.com/postmodern/ruby-install/releases/tag/v0.

[2019-05-07 22:59] havenwood commented on #345
You should be able to fetch the latest versions from [postmodern/ruby-versions](https://github.com/postmodern/ruby-versions) with:
[code]
Does `2.4.6` show up after a `ruby-install --latest`?

[2019-05-07 23:01] 0xdevalias commented on #345
It does.. that was a brain fail on my part. Edited my original post as I discovered that:

[2019-05-21 13:17] carbonin opened #346 "Official COPR repo package is gone"
The ruby-install rpm which was previously built in https://copr.fedorainfracloud.org/coprs/postmodern/ruby-install/ is now gone. Was this intentional?

cc @simaishi

[2019-05-23 14:02] jleo3 commented on #287
@dgtized comment was a live-saver! Thank you!

[2019-05-30 03:25] FranklinYu commented on #346
Probably because no one in the team is using Fedora. We need a Fedora user to maintain the package.

[2019-05-30 13:15] carbonin commented on #346
For what it's worth, we're building that package in our project's COPR repo here https://copr.fedorainfracloud.org/coprs/manageiq/ManageIQ-Master/package/ruby-install/

@simaishi was that particularly difficult to build out? Do you think we could take on maintaining that and maybe `chruby`? I know a handful of people on our team are using both tools on fedora for development as well as using `ruby

[2019-05-30 13:27] FranklinYu commented on #346
I think you can simply make PR to modify the Fedora package spec in this repository. If that get merged, I expect it to trigger a build in the related COPR.

[2019-05-30 13:41] FranklinYu commented on #338
Anyone interested in this?

[2019-05-30 15:16] carbonin commented on #346
I think the problem is that no changes are necessary to either the source or the spec file so we don't need to push a PR.

Additionally, it seems like changes were made for version 0.7.0 in 5418085e553a813422311f1fc622b5beb67de088, but that package was never built in COPR. So whatever automatic build process you're referencing seems to be broken.

Also, no changes to the spec file are needed to in

[2019-05-30 15:20] carbonin commented on #346
We would be more than happy to maintain a copr project to build fedora and EL packages for chruby and ruby-install as we have to build them anyway, but if @postmodern wants to resurrect the existing copr repo which is [listed in the README](https://github.com/postmodern/ruby-install#fedora-linux) then we would just as soon not build our own :sweat_smile:

[2019-05-31 08:00] donv commented on #307
Some way of only going online to fetch a new version list if the requested version is unknown would be nice.

[2019-06-11 01:50] FranklinYu commented on #337
The bug has been fixed upstream, and will be available in 2.7 version. For 2.6 branch, user can manually apply the patch ruby/ruby@fe3ff5afb07e171fd950623c69abfbabbb2762a3 like

[code]

I’m still working with upstream to see whether they would backport this to 2.6 branch to avoid manual patch. Will report here for any update.

[2019-06-11 01:50] #337 closed

[2019-06-17 01:24] jonleighton commented on #287
I've had this problem trying to install Ruby 2.1.5 on Fedora 30, where openssl 1.0 is not available to install from the package manager at all. I was able to solve it by manually downloading and building openssl and then linking Ruby against this custom version. Here are the steps:

[code]

[2019-06-17 02:08] jonleighton commented on #287
I also needed to link my custom-install OpenSSL config with my system OpenSSL config, as certification verification was failing with the default config:

[code]

The `/etc/pki/tls` location may well be different on other distros.

[2019-07-01 18:39] samphippen opened #347 "install from ruby checkout on local machine"
as far as I can tell, there isn't a way to provide ruby-install with a directory path to a ruby checkout on my machine. It'd be nice to have it be able to install a ruby from a working directory so that I can test out patches in a more long term. Is this a use case that could be supported?

[2019-07-02 00:27] havenwood commented on #347
It's not directly supported, but you can pair `--src-dir` with `--no-extract` to effectively install a Ruby from a working directory if the directory is named as expected. For example, you can install current trunk with:

[code]

There currently isn't a flag that sets the `$src_dir/$ruby_dir_name` directly for an arbitrarily-named `$ruby_dir_name`.

[2019-07-03 00:12] havenwood commented on #347
A possibility would be to add a `--ruby-src-dir` option. Maybe something like:

[code]

[2019-07-23 22:54] postmodern opened #349 "Detect when --with-jemalloc is specified and install jemalloc"
Detect when `--with-jemalloc` is given as an additional configuration option (ex: `ruby-install ruby 2.6 -- --with-jemalloc`), and automatically append the appropriate jemalloc package name (based on the `$package_manager`)  to list of package dependencies.

[2019-08-08 14:55] FranklinYu commented on #31
rvm/rvm#4298 could be related.

[2019-09-02 21:51] zenspider opened #350 "Non-obvious usage error"
[code]

looks like `-j` doesn't take a number, despite the printed usage.

[2019-09-04 01:20] zenspider opened #351 "Size differences?"
I get that ruby-install does rdoc/ri by default (THANK YOU) so the builds are going to have more in them than ruby-build... but the binary sizes are also vastly larger. I haven't dug too deep with `nm` or the like, but is there something I can/should do to bring these sizes down? They're currently ~4-8x larger:

[code]

[2019-09-04 12:24] rb83 commented on #273
Just bumped into this as well.

[2019-09-06 09:08] Madh93 commented on #287
@Shelvak solution works like a charm.

In my case to install Ruby 2.3.8 on Manjaro (Arch-based) it's necessary to do:

    sudo pacman -S openssl-1.0
    PKG_CONFIG_PATH=/usr/lib/openssl-1.0/pkgconfig ruby-install ruby 2.3.8

[2019-09-06 10:49] carminemilieni opened #352 "Install Ruby on darwin 18"
I have MacOS Mojave 10.14.16 on execute command from terminal
`ruby-install ruby`
i received this error
`Error: Current platform "darwin 18" does not match expected platform "darwin 16"
Error: If you upgraded your OS, please follow the migration instructions: https://trac.macports.org/wiki/Migration
OS platform mismatch
    while executing
"mportinit ui_options global_options global_variations"
Er

[2019-09-16 11:32] svoop opened #353 "Feature: Support for Fullstaq Ruby"
Is it possible to add support for [Fullstaq Ruby](https://fullstaqruby.org/)?

I'm currently deploying MRI to both development workstations as and production servers with `ruby-install` which works like a charm. I'd give Fullstaq Ruby a shot, however, I'm not sure whether I want to touch this battle proven setup by ditching `ruby-install`.

[2019-10-02 14:25] mhenrixon opened #355 "Installing rubies"
This computer is on Mac OS X 10.14. Installing rubies has worked before so I suppose it is a problem with upgrading llvm, openssl or some such.

This is the error log for me.

[code]

I'm baffled really, it used to work fine.

[2019-10-02 14:33] mhenrixon commented on #355
[code]
It seems like removing any llvm shit from my fish profile does the trick so definitely an LLVM problem!

[2019-10-29 10:05] postmodern commented on #31
Noticed that RVM's binaries haven't been updated recently. Not seeing binaries for newer versions of Ubuntu, Fedora, or OSX. https://rvm.io/binaries/ That seems like a blocker for average users not using ruby-install in an older VM or docker image.

[2019-10-30 06:52] FranklinYu commented on #31
@postmodern Yes, and rvm/rvm#4298 has been talking about it. RVM team made barely any progress about this since last year though.

[2019-11-08 08:33] rkh commented on #31
Note that rvm also downloads binaries from http://rubies.travis-ci.org/.

[2019-11-09 23:58] FranklinYu commented on #31
@rkh Awesome! I’m curious whether they are path-dependent though. Will need some research.

[2019-11-11 12:41] rkh commented on #31
I'm not working with Ruby in a professional setting at the moment, so I don't think I'll have time to look into this any time soon, sorry.

[2019-11-19 02:09] FranklinYu commented on #331
How about `alias ruby-install='ruby-install --package-manager brew'`?

[2019-11-19 02:13] FranklinYu opened #357 "Prebuilt binary for Debian/Ubuntu"
This is a feature request. It would be good if we also provide binary deb files for Debian and Ubuntu. I guess we can host a PPA on https://launchpad.net/.

I may be able to work on this next year (my employer uses Debian) but in the same time anyone can pick it up.

[2019-11-20 02:36] AstonJ opened #358 "Keep getting "!!! Unknown ruby" when trying to install the latest version"
I'm not sure if this is a bug or whether it's my Mac (I recently updated to Catalina).

On trying to `ruby-install --latest 2.6.5` I keep getting that it is unknown.

On doing `ruby-install --latest` it says:

[code]

However I manually copied the file, but still get unknown Ruby when trying to install any of the latest Rubies.

Am I doing something wrong?

(Sorry to be nuisance!)

on `ruby-instal

[2019-11-20 19:54] havenwood commented on #358
Thank you for filing the issue!

We removed MagLev support from ruby-install a while back, since it's no longer maintained, and eventually deleted it from ruby-versions.

One issue with your install command is that it doesn't specify the Ruby engine. Could you show the output from:
[code]

[2019-11-21 01:39] AstonJ commented on #358
I feel dumb now Shannon ☺️ adding the ruby engine worked!

Thank you for your help and sorry to have been a nuisance.

[2019-11-21 01:39] #358 closed

[2019-11-22 08:35] postmodern commented on #331
Conflicted on whether we should default to always using the apt dependencies on ubuntu, or switch to brew if available?

[2019-11-22 09:03] FranklinYu commented on #331
Personally I would rather use APT even when Homebrew is available. If we defaults to Homebrew I would make the alias myself.

[2019-11-25 01:06] 0xdevalias opened #360 "Truffleruby Error: No available formula with the name "llvm@4""
Hit this when trying to install `truffleruby` since brew removed `llvm@4` in https://github.com/Homebrew/homebrew-core/issues/46801

https://github.com/oracle/truffleruby/issues/1820 says that llvm isn't required as an external dependency since `>= 19.3`

This was documented in https://github.com/oracle/truffleruby/issues/1820 and fixed in `rvm` in https://github.com/rvm/rvm/pull/4815

Ref: https:

[2019-11-25 09:33] FunkyloverOne commented on #291
@havenwood it's not macOS only anymore, as Homebrew is officially supported on Linux too now.
I have it installed on my Solus, as I needed to install something with it, and now have the same issue.
However, I can use `--no-install-deps` to skip that step, and move on as usual.

[2019-11-25 10:32] eregon commented on #360
I made a PR to fix this: https://github.com/postmodern/ruby-install/pull/359

@postmodern @havenwood I think we should do a release to let users get that fix.

Until then a workaround (only needed on macOS) is:
[code]

[2019-12-19 14:40] sethvargo opened #361 "Failed to download versions.txt"
(Very similar to https://github.com/postmodern/ruby-install/issues/261)

[code]

Both `curl` and `wget` are installed from homebrew:

[code]

- Visiting in the browser works fine

- Doing a regular `curl` works fine:

[code]

- Running the `curl` command in #261 works:

[code]

- Doing a regular `wget` fails:

[code]

- Running the `wget` command in #261 fails:

[code]

Unlike #261, I'm on a Mac,

[2019-12-19 14:44] sethvargo commented on #361
Is there a way to force ruby-install to use curl instead of wget?

[2019-12-19 14:48] sethvargo commented on #361
I removed `wget` from my path and it worked successfully. It would be nice to be able to force `curl` with a CLI flag or something. Also a --verbose or similar flag might have helped debug this more.

[2020-01-02 14:22] rowend commented on #361
Maybe it is not the right response ... but I had similar issue then I updated the package wget and all worked...

[2020-01-04 17:08] eregon commented on #287
FWIW, this is expected, Ruby <= 2.3 (all out-of-life BTW) do not support OpenSSL > 1.1.

As long as `ruby-install` does not support per-version dependencies I think this cannot be solved unfortunately.

[2020-01-06 19:17] amboxer21 commented on #287
I have tried a bunch of different work arounds centered around PKG_CONFIG_PATH but none worked. I ended up adding older sources to my source.list and installed the necessary version of openssl. Then I was able to install ruby-2.3.3 without an issue.

[code]

[code]

You have to update after:
[code]

[code]

[code]

[2020-01-07 07:03] mvz commented on #287
@amboxer21 to give passers-by a complete picture, can you add your full `ruby-install` invocation?

[2020-01-07 14:49] amboxer21 commented on #287
Sorry @mvz but I do not use RVM but I will show my gem env

[code]

[2020-01-07 14:53] mvz commented on #287
@amboxer21 I didn't mention RVM. I'm talking about ruby-install.

[2020-01-07 14:55] amboxer21 commented on #287
Sorry, I thought ruby-install was an RVM thing. I manually install ruby from source, i.e. configure, make, and make install. That ruby-install command is not installed on my system.

[2020-01-07 14:56] mvz commented on #287
@amboxer21 This is the issue tracker for `ruby-install` :rofl:

[2020-01-07 14:56] mvz commented on #287
Closing this since it won't be fixed, I don't need it anymore, and there's too much noise.

[2020-01-07 14:56] #287 closed

[2020-01-07 15:09] amboxer21 commented on #287
What a rude person you are! We both had the same issue with openssl causing our attempted installs to not install properly. whether it be through ruby-install or manual installation. Openssl seems to be the culprit. Do you honestly believe that out of all the devs in the world, that there won't be someone like me to come along in search of answers? Someone like me who has the same issue? I am just

[2020-01-07 15:13] mvz commented on #287
@amboxer21 maybe you can open a stackoverflow issue that is more suited for general tips. I'm just cleaning up ruby-install's issue tracker and my github notifications. Sorry if you thought that was rude.

[2020-01-08 10:06] FranklinYu commented on #352
Are you able to use MacPorts as usual?

[2020-01-08 10:10] FranklinYu commented on #338
Bump.

[2020-01-08 10:15] FranklinYu commented on #361
Hi both, macOS Catalina doesn’t come with `wget`. How did you installed your wget?

[2020-01-08 10:20] FranklinYu commented on #321
Depending on your operating system, but when I’m using Ubuntu I’m managing ruby-install and chruby with Linuxbrew (with non-standard installation location because I don’t want to share it with other users).

[2020-01-08 13:28] rowend commented on #361
Hi @FranklinYu I installed it with brew:
`brew install wget`

More info about brew please visit https://brew.sh/

[2020-01-09 16:03] havenwood commented on #338
I like the idea but I'm a bit worried about portability with the check for satisfied dependencies. If we could get those where they work reliably, it seems nice to me.

[2020-01-10 05:08] FranklinYu commented on #338
`wc -l` is [POSIX](https://pubs.opengroup.org/onlinepubs/9699919799/utilities/wc.html). My use of `grep` is basic and also [POSIX](https://pubs.opengroup.org/onlinepubs/9699919799/utilities/grep.html) (because no option is used). Actually `dpkg -l` should only list installed packages, but uninstalled packages with configuration files left over are still counted as “installed packages“.

[2020-01-10 16:40] bbck opened #363 "Ruby < 2.4 fails with homebrew due to openssl"
Homebrew has removed openssl 1.0 and now installs 1.1 which is causing all builds of MRI ruby 2.3 or less to fail.

I was able to get around this by installing the deleted openssl formula with homebrew and passing the path

[code]

[2020-01-14 01:23] postmodern commented on #321
If you installed ruby-install directly from source, and not a package manager, then upgrading is as simple as performing the same installation as the previous ruby-install version; this is standard behavior for the vast majority of *nix command-line utilities AFAIK. Should we add another section listing all of the upgrade commands for the various package managers that offer ruby-install?

[2020-01-16 07:31] rarkins commented on #287
In case it helps anyone, this worked for me to build Ruby 2.3.x into an Ubuntu 18.04-based Dockerfile:

[code]

There may be a few pieces that could be trimmed but it took hours or trial and error to get one to work so I'm just leaving it as-is.

[2020-01-16 20:36] eliduke commented on #363
I'm trying this, but it looks like that flag isn't actually working:

[code]

As you can see, it still grabs openssl v1.1. What am I doing wrong here?

[2020-01-22 18:05] eliduke commented on #363
OK. I got it working for me, but the missing piece of the puzzle was `brew switch`.  Without it, `ruby-install` kept trying to use openssl 1.1 and then the install would fail.

[code]

Hope this helps others out there who might be searching.

[2020-01-31 11:36] ravicious commented on #363
I wasn't able to issue `brew install` with that URL because I already have openssl@1.1 installed.

Instead I did this (courtesy of https://github.com/rbenv/ruby-build/issues/1353#issuecomment-573414540):

[code]

[2020-02-02 09:39] espen commented on #263
I think I'm having the same issue. Suddenly after installing 2.7.0 I lost irb history. It works with 2.6.4 (even after reinstall of both versions). On 2.7.0 IRB will write to history but not read from it.

[2020-02-21 20:48] mustmodify opened #365 "core dump with ruby 2.3.8 and ubuntu 18.04"
I used ruby-install to install ruby-2.3.8. I consistently get a core dump when trying to migrate a Rails app. I'm not sure who I should ask to help with this issue -- if you could point me in the correct direction, that would be appreciated.

https://gist.github.com/mustmodify/a29a27d7a493323326b960873011d399

* I installed the OS within the last month so the environment is, hopefully, somewhat la

[2020-02-21 23:08] mustmodify commented on #365
This post seems to (further) confirm my suspicion that way I originally installed was incorrect.

https://stackoverflow.com/questions/44116005/openssl-error-installing-ruby-2-1-x-and-2-3-x-on-archlinux-with-ruby-install-rub

which is fine. So here are my thoughts.

1. Can ruby 2.3.8 be installed on ubuntu 18.04?
2. If so, do I need to provide some kind of access to an old version of OpenSSL, presu

[2020-02-28 15:04] havenwood opened #366 "Switch from tar.bz2 to tar.gz for CRuby archives"
Ruby Core has decided to stop shipping `.tar.bz2` archives. See https://bugs.ruby-lang.org/issues/16483

[2020-03-30 17:49] havenwood commented on #366
I suspect we should go ahead and move from `.tar.bz2` to `.tar.xz` or `.tar.gz` for CRuby and cut a new release of ruby-install soon to minimize disruption with Ruby 3.0 not having a `.tar.bz2` archive.

[2020-03-30 17:49] havenwood commented on #366
@postmodern I'm assuming we'll want to use `.tar.gz`?

[2020-03-31 06:58] postmodern commented on #366
@havenwood wrt `tar.xz`, we'd need to double check whether additional dependencies need to be installed for `xz` for the other package managers. I'm pretty sure Ubuntu supports it out-of-the-box with `tar -xJf`, but maybe certain versions of macOS may require using `unxzv` from xz-utils? We could switch back to `tar.gz`, but with a penalty to bandwidth/disk-space.

[2020-04-06 09:37] esotericpig opened #367 "Proposal: output system install command for openssl?"
Recently, I upgraded my system, Fedora.

When trying to call `ruby-install ruby 2.6.5`, I got openssl issues, which seems to be a common issue here:

[code]

Even though it tells me the error and the problem (openssl), I had no idea what command it's trying to run with `dnf`.

I fixed the issue calling this:

[code]

Since it's such a common issue and so dependent on the system, it'd be best to ou

[2020-04-18 18:04] rickhull commented on #279
I ran into this problem and more, trying to `ruby-install rbx` on Ubuntu 19.10.  It appears that rubinius has updated their build system (per https://github.com/postmodern/ruby-install/issues/342#issuecomment-481897733) and there is significant breakage, at least on Debian-based systems.

I located dependencies.txt and played around a little.  `ruby-dev` rather than `ruby-1.9-dev` is needed.  Both

[2020-04-18 18:45] rickhull commented on #279
With `ruby-dev` and `llvm-dev` and `clang`, I get rbx successfully installed:

[code]

[2020-04-21 05:56] arjunmdas commented on #361
In my case, upgrading wget did the trick
[code]

[2020-04-21 12:38] pjaspers commented on #361
Can confirm that `brew upgrade wget` solved it for me as well.

[2020-04-22 15:15] akhil-trantor commented on #194
Recently I was struggling with ruby installations due to the recent auto-update in openssl version from 1.0 to 1.1.
I found out that the ruby version < 2.4 does not work with openssl version > 1.0.

I was not even able to revert back the openssl to 1.0 version because other libs has dependencies on it.

No other solution except the one given below worked for me:

`brew install rbenv/tap/openssl@1.

[2020-05-08 02:15] mcandre opened #369 "Stricter POSIX sh compliance"
Thank you for publishing ruby-install, this really helps!

Could ruby-install be written closer to POSIX sh? It'll be tough, but the reward is better support for POSIX sh users, ksh users, and zsh users.

[2020-05-09 22:16] havenwood commented on #369
Yes, ruby-install could be rewritten, but portable shell tends to bring bugs in various shells in the parts that go beyond what POSIX defines. With chruby, speed and preexec functions require that it run in your shell, so the hope is to be as portable as possible while still supporting the core features. With ruby-install, it's more like a regular program that just happens to be written in the lan

[2020-05-12 02:14] mcandre commented on #369
Yes and no. In many environments, bash is generally and easily available. There some like Alpine, BSD, Busybox, macOS Catalina, where bash is not the default shell or may even not be installed by default. So that represents some minor additional hurdles for users to be able to enjoy ruby-install.

Even where bash is available, it's awkward to have to leave your particular shell and interact with b

[2020-05-20 14:37] hosamaly commented on #194
I had to update `CPPFLAGS` and `LDFLAGS` to get it working...
https://stackoverflow.com/a/61915791/41283

[2020-05-20 14:39] hosamaly commented on #363
I used homebrew's tap, but I had to export `CPPFLAGS` and `LDFLAGS` to get it working...
https://stackoverflow.com/a/61915791/41283

[2020-05-25 01:32] esambo commented on #363
It would be nice to get this workaround properly documented, eg: _Ruby versions < 2.4 #370_

[2020-05-30 13:53] Lazrhog opened #371 "Ruby fails to link (for me) on OSX Mojave 10.14.5"
Not sure whether the OSX version matters... I'd appreciate a workaround if there is one :)

command I ran is CC=/usr/bin/gcc rvm install ruby
$LDFLAGS is -L/usr/local/opt/openssl@1.1/lib
$CPPGLAGS is -I/usr/local/opt/openssl@1.1/include

My error log is

[2020-05-30 14:44:22] __rvm_make
__rvm_make ()
{
    \make "$@" || return $?
}
current path: /Users/xxxx/.rvm/src/ruby-2.7.0
PATH=/usr/local/opt/

[2020-06-04 03:29] shunchu commented on #310
@oharace How were you able to even get down the rabbit hole deep enough to know to disable Avira to get this to work? This was driving me nuts today. I'm on macOS Catalina after a supposedly routine "trivial" update from 10.15.4 to 10.15.5. Then all hell broke loose. Stuff just stopped working left and right. Thank you for this gold nugget!

[2020-06-06 23:14] judofyr opened #372 "`ruby-install ruby` fails when there's not an existing Ruby interpreter on the system"
I just got this error:

[code]

I found some [old forum post](https://www.ruby-forum.com/t/building-ruby/235290/8) which suggests that the issue is that we're cleaning _before_ compiling, and the cleanup deletes files which are needed for the compilation:

https://github.com/postmodern/ruby-install/blob/402cbdeaffb99d105ecd9b93c75828b32f0f382f/bin/ruby-install#L47-L51

Is it possible for the clean

[2020-07-20 02:07] 0xdevalias commented on #361
Mine looked similar to the initial errors shown above at first, but quite different when I looked at `wget` itself. Upgrading with `brew upgrade wget` fixed my broken install, and seems to work properly now.

In case it helps anyone else, wget output looked like this:

[code]

[2020-07-24 21:54] havenwood commented on #369
The default shell isn't really relevant to shebang commands. If a compatible version of Bash is available, the tool _just works_ from any shell. As a dependency, Bash does need to be installed, which is a one-liner from any of the above.

It's just a shebang executable command like any other on your system. Don't leave your shell. Just run the `ruby-install` command from your shell of choice. What

[2020-07-24 22:14] havenwood commented on #369
@mcandre Maybe try porting to `sh` and see if it runs nicely on the systems you mention? If we were forced to rewrite, I'd personally rather go with Rust or something less frustrating than attempting portable shell, which seems likely to me to result in lots of bugs and endless compatibility decisions.

[2020-07-24 22:18] havenwood commented on #369
Just repeating this verbatim from a chruby thread, but as the Oil author writes, POSIX doesn't define enough common ground so shells have gone beyond it and diverged.

[2020-07-24 22:18] #369 closed

[2020-07-24 22:21] havenwood commented on #360
Closing now that the fixed has been released with version 0.7.1.

[2020-07-24 22:21] #360 closed

[2020-07-24 22:26] havenwood commented on #352
Closing since this looks like a MacPorts issue. Please reopen if the issue persists.

[2020-07-24 22:26] #352 closed

[2020-09-09 09:24] bloerwald commented on #338
As a first time user a sudden `sudo` surely is not what I did expect, and not knowing what is executed feels dangerous. I would love this issue to be addressed (for `rpm`s, you can use `rpm -q "${@}" | wc -l`).

[2020-09-09 09:25] bloerwald opened #374 "Give information when running sudo"
I think it would also be a good idea to warn about what is suddenly `sudo`'d. I ran into an unexpected password prompt due to #338, which is surely not something I would have expected while not doing a `--system` install.

I'd suggest
[code]
for sake of user experience and transparency.

[2020-09-14 13:43] sethvargo commented on #361
Can't reproduce this anyone.

[2020-09-14 13:43] #361 closed

[2020-09-16 19:05] schneems opened #375 "Ruby 2.2 installs on catalina fail"
This isn't a bug with `ruby-install` but I thought others might see the same issue and we can coordinate.

I asked this question on stack overflow: https://stackoverflow.com/questions/63926460/install-ruby-2-2-on-mac-osx-catalina-with-ruby-install

Here's a local copy so you don't have to click through:

Here's what I get when I try to install Ruby 2.2:

[code]

- OS Version: 10.15.6
- ruby-instal

[2020-09-18 04:17] chrt00 opened #376 "Installing with HomeBrew 2.5.1 broken"
Looks like you can no longer run `brew` with sudo.

[code]

[2020-09-25 19:41] pjaspers commented on #375
Have you tried? https://github.com/postmodern/ruby-install/issues/363#issuecomment-580699347

That fixed it for me (on 10.15.6 (19G2021)), and it has all to do with homebrew dropping openssl, so the previous 2.2's were probably in the good ol' days when we still had openssl 1.1.

`>>> Successfully installed ruby 2.2.10 into /Users/pjaspers/.rubies/ruby-2.2.10`

[2020-09-27 12:19] todd-a-jacobs commented on #366
With the release of ruby-3.0.0-preview1, bzip2 is no longer supported. The preview release will fail the validation check, and other than turning off validation there don't appear to be any knobs to twiddle to install a different archive type.

[2020-09-29 20:39] postmodern commented on #366
Does macOS ship with an `xz`/`unxz` command now, or would we need to add it to the dependencies?

[2020-09-29 22:05] postmodern opened #378 "Detect which tar compression(s) are supported"
Detect whether the system has the `bunzip2` or `unxz` commands. This could allow ruby-install to fallback to a supported ruby archive format.

[2020-09-29 23:39] havenwood commented on #366
No, macOS doesn't ship with `xz`. There's a Homebrew package for `xz` but since 10.9 macOS has supported xz with `tar`. We should be able to rely on `tar -x` since it's now available in all supported macOS versions.

[2020-10-01 21:07] JamesChevalier commented on #263
Yeah, I've lost irb history with 2.7.1 in the same way - the history is written but not read.

[code]

I've tried reinstalling a number of packages that are mentioned in the output of `ruby-install ruby 2.7.1`:
automake bison openssl@1.1 readline libyaml gdbm libffi

I'm unsure where to run this command, or what the rest of it is (it's chopped off with `...`):
`./configure --with-opt-dir=$(brew --

[2020-10-02 22:36] strzibny commented on #346
I am willing to help maintain the Copr as well. I was a Fedora packager (Rails stack) and I am a co-founder of [Fedora Developer](https://developer.fedoraproject.org/). Since I am user of ruby-install and chruby, I could probably maintain them in Copr and also feature them in the Fedora Developer Ruby section.

[2020-10-03 20:15] postmodern commented on #366
Thoughts on dynamically selecting the desired archive format, given whether `gunzip`, `bunzip2,` or `unxz` are installed?

[2020-10-03 22:31] havenwood commented on #366
I like the idea of configurable decompression format. +1

On another note, @eregon pointed out [possible issues](https://bugs.ruby-lang.org/issues/16483#note-8) preventing `xz` from being the sole choice if more compression formats are removed.

[2020-10-04 10:28] eregon commented on #366
@havenwood

`tar -x` is just the extract flag, right?
On Linux the flag for xz seems to be `-J` or `--xz`.
Or do you mean `tar xf foo.tar.xz` works on all supported macOS versions?

Given the sizes of Ruby archives, I would always go with the tried-and-true-and-proved `.tar.gz`.
For 2.7.2:
`.tar.gz`: 16836767, 16MB
`.tar.bz2`: 14708724, 14MB
`.tar.xz`: 12037052, 11.5MB

All these are tiny, it seem

[2020-10-04 13:23] havenwood commented on #366
@eregon With macOS `tar` it's also `-J, --xz` for compressing but no extra flag needed with `-x` for extracting. The manpage does mention "unlike other tar implementations."

[2020-10-05 18:32] schneems commented on #363
I'm unable to brew install that version of openssl

[code]

[2020-10-05 18:33] schneems commented on #375
@pjaspers i just tried and that version of openssl won't install via brew for me.

[2020-10-05 19:13] pjaspers commented on #375
@schneems using the tap? (that's the only difference I can think of, I didn't do anything exotic besides that)

[2020-10-05 21:05] schneems commented on #363
I missed this part in front:

[code]

That got openssl 1.0 installed. I'm still getting failures getting 2.2.10 to install though.

[2020-10-05 21:15] schneems commented on #375
I didn't tap it first. That got it installed. Same error though:

[code]

It's still showing `openssl@1.1` in the output for some reason. I tried manually exporting:

[code]

I got the right openssl version this time, still the same error:

[code]

Someone on twitter mentioned it might be related to xcode 12 and suggested trying to downgrade. That seems pretty drastic and I'm not quite sure how su

[2020-10-06 08:59] eregon commented on #366
Not sure why but ruby-3.0.0-preview1 still has a bz2: https://www.ruby-lang.org/en/news/2020/09/25/ruby-3-0-0-preview1-released/
Maybe because they realized Ruby installers did not have time to adapt to that change yet?

[2020-10-08 18:20] postmodern opened #380 "Remove macOS specific commands from truffleruby+graalvm/functions.sh"
The `platform` and `architecture` commands do not exist on GNU/Linux systems. Use the [uname](https://www.unix.com/man-page/osx/1/UNAME/) command instead.

[2020-10-08 18:27] #380 closed

[2020-10-08 19:18] postmodern commented on #372
We could remove the clean step entirely and just hope that `./configure` and the `Makefile` are smart enough to regenerate any pre-existing artifacts?

[2020-10-08 19:49] judofyr commented on #372
Ah, so the purpose of the clean step is to handle the case where you've tried to compile it once and you're trying again? Then it will use the same directory?

if so, maybe it's better to remove the cleaning step and instead support `--clean` which will re-download. Seems like a more sensible "clean" operation than `make clean`.

[2020-10-08 20:04] postmodern commented on #372
@judofyr can you do a quick test in your environment to whether `make clean` is the culprit? That forum post mentioned `make distclean` which is different. If `make clean` is being problematic, then it will need to be removed.

[2020-10-09 07:25] postmodern opened #381 "Add a `ruby_build_dir` variable"
Add a `ruby_build_dir` variable to replace `$src_dir/$ruby_dir_name`. This will make the code more readable.

[2020-10-09 19:25] postmodern commented on #366
Hmm macOS supporting `tar -xJ` but not having an `unxz` command throws a wrench in my plans to auto-detect `xz` support. In that case, we'll have to add it as a dependency. Should we always install `xz` from homebrew, or rely on macOS's `tar`? Guessing not many people still use macOS < 10.9?

[2020-10-09 19:41] postmodern commented on #366
@havenwood am I correct in assuming macOS's `tar` can utilize `unxz` if installed, or did Apple vendor xz-utils into the `tar` binary?

I'm torn between auto-detecting `unxz` (thus choosing the `tar.xz` archive, otherwise falling back to `tar.gz`) or adding `xz` as a dependency of Ruby. While the `xz` compression format does have some technical issues which may cause problems in the future, it is

[2020-10-09 20:18] havenwood commented on #366
@postmodern The latter. They vendored xz-utils into `tar` in 10.9 and don't ship `unxz`.

[2020-10-10 03:07] postmodern commented on #366
This should be resolved by the [use_tar_xz_for_ruby](https://github.com/postmodern/ruby-install/compare/0.8.0...use_tar_xz_for_ruby) branch. Added support for extracting `.tar.xz` archives with `tar -xJf`, changed `ruby_archive` in `ruby/functions.sh`, and added xz-utils as a dependency (excluding macOS and FreeBSD which provide it as part of the base system).

[2020-10-10 03:09] postmodern commented on #273
This will be resolved in the 0.8.0 release. We're switching to downloading the `.tar.xz` ruby release and making xz-utils an explicit dependency (excluding macOS and FreeBSD, which has it built-in to the base system). See the [use_tar_xz_for_ruby](https://github.com/postmodern/ruby-install/compare/0.8.0...use_tar_xz_for_ruby) for more details.

[2020-10-10 03:19] postmodern commented on #378
Unfortunately, macOS vendored `unxz` _into_ their `tar` binary starting in macOS 10.9. This makes it rather difficult to detect xz support.

[2020-10-10 03:19] #378 closed

[2020-10-10 03:28] postmodern commented on #376
Could you specify the version of ruby-install you are using and the output of this command `/usr/bin/stat -f %Su "$(command -v brew)"`.

[2020-10-10 03:33] postmodern commented on #375
Ruby 2.2 reached End-of-Life, so it's no longer supported or maintained by upstream. It is ruby-install's policy to not officially support End-of-Lifed versions, as we cannot guarantee it will still compile on an up-to-date system. You'll probably need to build it using older versions of libraries and tools. Best of luck to you. :/

[2020-10-10 03:34] #375 closed

[2020-10-10 03:37] postmodern commented on #374
It might be useful to output as debugging messages enabled by a `--debug` option. ruby-install by default doesn't print the commands it's running, just descriptive messages, so a giant `sudo` command in the output might be surprising to users.

[2020-10-10 03:39] postmodern commented on #371
You appear to be using `rvm install` to install the ruby. You might want to submit the issue over to the [RVM issue tracker](https://github.com/rvm/rvm/issues).

[2020-10-10 03:39] #371 closed

[2020-10-10 03:43] postmodern commented on #367
We could add debugging messages and a `--debug` option. We'd also need to identify the critical commands that need to be logged.

[2020-10-10 03:53] postmodern commented on #365
A little late replying to this, but [Ruby 2.3 has reached End-of-Life](https://www.ruby-lang.org/en/news/2019/03/31/support-of-ruby-2-3-has-ended/) in March. If you want to test if it's a ruby-install issue, you could try manually compiling the ruby using these copy-and-paste [instructions](https://github.com/postmodern/chruby/wiki/Ruby). You could pass in `--with-openssl-dir` pointing to the alte

[2020-10-10 03:53] #365 closed

[2020-10-10 04:00] postmodern commented on #363
FYI [Ruby 2.4 reached End-of-Life](https://www.ruby-lang.org/en/news/2020/04/05/support-of-ruby-2-4-has-ended/#:~:text=We%20announce%20that%20all%20support,Ruby%202.4%20series%20has%20ended.) on March 31st. ruby-install does not officially support unmaintained versions due to these kind of issues. Either the openssl bindings would need to be updated for openssl 1.1, or you have to try compiling ag

[2020-10-10 04:08] postmodern commented on #353
Fullstaq provides their own [deb/rpm repo and packages](https://github.com/fullstaq-labs/fullstaq-ruby-server-edition/blob/main/README.md#installation), and they install into `/usr/lib/fullstaq-ruby/versions/` instead of `/opt/rubies/`. Seems like you could use fullstaq in production without ruby-install, provided you configure `PATH` or use a hardcoded `#!/usr/lib/fullstaq-ruby/versions/.../bin/r

[2020-10-10 04:17] #350 closed

[2020-10-10 04:50] postmodern commented on #351
Beyond the various `CFLAGS` and `./configure` options which ruby-build sets in certain situations, it sets `--enable-shared` by default in all of it's [build recipes](https://github.com/rbenv/ruby-build/blob/47610498f00fce2665106370b543651a76b9a7be/share/ruby-build/2.6.1#L2).

[code]

So most of the bulk is in the `libruby.so.2.6.4`.

[code]

You can review how it invokes `./configure` [here](http

[2020-10-10 04:50] #351 closed

[2020-10-10 04:57] postmodern commented on #328
Fixed in a0ee3814731061559852d775cbca178b6d76ae25 and 0a683f0e60a7804a7066b608a56f1c46c2e0cd93.

[2020-10-10 04:57] #328 closed

[2020-10-10 05:01] postmodern commented on #325
The `post_install` function only works within ruby-install, and is explicitly defined for certain Ruby's, such as [jruby](https://github.com/postmodern/ruby-install/blob/0a683f0e60a7804a7066b608a56f1c46c2e0cd93/share/ruby-install/jruby/functions.sh#L20-L29). It is not meant to be user configurable. You could however setup an alias for ruby-install that does something like `original_ruby_install $*

[2020-10-10 05:01] #325 closed

[2020-10-10 05:05] postmodern commented on #345
I thought about naming `--latest` as `--update`, but `ruby-install --update ruby` seemed kind of confusing; whereas `ruby-install --latest ruby` reads better. `--sync` was also considered. My assumption was a user would see the news that a new ruby version was released, and then run `ruby-install --latest ruby [2.X]` to install the "latest" released version.

[2020-10-10 05:22] postmodern commented on #319
Two separate bugs here.

1. `ruby-install -c -j2 --no-install-deps -r /data/rubies --patch 1.9.3-p551.diff -- --disable-install-doc`: since you didn't specify a ruby/version, [parse_options](https://github.com/postmodern/ruby-install/blob/0a683f0e60a7804a7066b608a56f1c46c2e0cd93/share/ruby-install/ruby-install.sh#L221) assumes you want to list available ruby versions, since `ruby-install` is a val

[2020-10-10 05:29] postmodern commented on #308
If memory serves me correctly, it was because Apple decided to replace `libopenssl` with a more up-to-date BSD `libssl` alternative after HeartBleed, and the other many openssl bugs. @havenwood correct me if I'm wrong, since I'm not a macOS user.

[2020-10-10 05:41] postmodern opened #382 "Make parse_ruby smarter"
Be able to parse `ruby-version`, `ruby`, or `version`. This will require some clever bash pattern matching.

[2020-10-10 23:18] havenwood commented on #308
@postmodern you're right—that refreshes my recollection. When macOS went to LibreSSL the command line tool became incompatible so we had no portable way to check md5 with `openssl` anymore.

[2020-10-11 17:04] #308 closed

[2020-10-22 17:35] strzibny opened #383 "Installing dependencies on CentOS 8 fails due to libyaml-devel"
`libyaml-devel` is no longer in the enabled repositories.

We need to run `dnf` with `--enablerepo=PowerTools`.

[2020-10-30 06:02] FranklinYu commented on #361
From reading all the reports above, the root cause seems like Homebrew messing up their wget from time to time. I guess it’s more useful to report the issue to them, given that the issue can be reproduced by a stand-alone wget command.

[2020-11-12 05:25] postmodern commented on #382
Implemented in 7339df6e1f1775253db11c189ca41d6ebe72fb7a

[2020-11-12 05:25] #382 closed

[2020-12-07 18:06] peterb opened #384 "Making it easier to find the latest Ruby version."
You have to run `ruby-install -L` to download the latest versions before running ruby-install. This isn't so intuitive for occasional users. Would it be worth including a last-updated timestamp, or running with the -L option by default?

[2020-12-08 11:16] tomstuart opened #385 "ruby-3.0.0-preview2 can’t be downloaded because it has no .tar.bz2"
3.0.0-preview2 was [just released](https://www.ruby-lang.org/en/news/2020/12/08/ruby-3-0-0-preview2-released/) but they haven’t published a `.tar.bz2` download. If this is intentional then the [`use_tar_xz_for_ruby`](https://github.com/postmodern/ruby-install/compare/master...use_tar_xz_for_ruby) changes might need to be prioritised.

[2020-12-08 11:48] postmodern commented on #385
It's finally happening.

[2020-12-08 11:50] postmodern commented on #385
Merged into master. Will release 0.8.0 shortly.

[2020-12-08 11:51] postmodern commented on #366
Merged use_tar_xz_for_ruby branch into master. Will release 0.8.0 tomorrow.

[2020-12-08 12:06] tomstuart commented on #385
Thank you!

[2020-12-08 12:07] postmodern opened #386 "Default ruby_archive based on ruby_url basename"
If you run `ruby-install --url https://../ruby-X.Y.Z.tar.gz ruby X.Y.Z` it will download the archive to `ruby-X.Y.Z.tar.bz2`. `ruby_archive` should default to the basename of `ruby_url` to avoid this.

[2020-12-08 16:55] todd-a-jacobs commented on #385
Per the [Ruby downloads](https://www.ruby-lang.org/en/downloads/) page:

[code]

I mention it so that the SHA-256 can be included if/when the ruby-install definitions are updated, not just the installer logic. Right now, it fails with:

$ ruby-install ruby 3.0.0-preview-2 --sha256 9de8661565c2b1007d91a580e9a7e02d23f1e8fc8df371feb15a2727aa05fd9a
!!! Download of https://cache.ruby-lang.org/pub/ruby/